<form *ngIf="talonForm" [formGroup]="talonForm">
    <div class="modal">
        <div class="modal-dialog" tabindex="-1">
            <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="exampleModalLabel">Заполнение талона</h5>

                <div class="input-group mb-1">
                    <div class="input-group-prepend"><span class="input-group-text">Дата</span></div>
                    <input type="date" class="form-control" placeholder="Дата" formControlName="regDate">
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend"><span class="input-group-text">Кабинет</span></div>
                    <input type="text" class="form-control" placeholder="Кабинет" formControlName="regCab">
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend"><span class="input-group-text">Id</span></div>
                    <input type="text" class="form-control" placeholder="Id" formControlName="patientId">
                </div>
            </div>
            <div class="modal-body">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend"><span class="input-group-text">Номер талона</span></div>
                        <input type="text" class="form-control" placeholder="Номер талона" formControlName="talonNum">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend"><span class="input-group-text">1. Дата открытия талона</span></div>
                        <input type="date" class="form-control" placeholder="1. Дата открытия талона" formControlName="field01">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend"><span class="input-group-text">12. Телефон</span></div>
                        <input type="text" class="form-control" placeholder="12. Телефон" formControlName="field12">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend"><span class="input-group-text">13. Местность</span></div>
                        <input type="text" class="form-control" list="list13" placeholder="13. Местность" formControlName="field13">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend"><span class="input-group-text">14. Занятость</span></div>
                        <input type="text" class="form-control" list="list14" placeholder="14. Занятость" formControlName="field14">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend"><span class="input-group-text">21. Посещения</span></div>
                        <input type="text" class="form-control" list="list21" placeholder="21. Посещения" formControlName="field21">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend"><span class="input-group-text">22. Обращение (цель)</span></div>
                        <input type="text" class="form-control" list="list22" placeholder="22. Обращение (цель)" formControlName="field22">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend"><span class="input-group-text">24. Обращение</span></div>
                        <input type="text" class="form-control" list="list24" placeholder="24. Обращение" formControlName="field24">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend"><span class="input-group-text">25. Результат обращения</span></div>
                        <input type="text" class="form-control" list="list25" placeholder="25. Результат обращения" formControlName="field25">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend"><span class="input-group-text">35. Заболевание</span></div>
                        <input type="text" class="form-control" list="list35" placeholder="35. Заболевание" formControlName="field35">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend"><span class="input-group-text">36. Диспансерное наблюдение</span></div>
                        <input type="text" class="form-control" list="list36" placeholder="36. Диспансерное наблюдение" formControlName="field36">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalService.close()">Закрыть</button>
                <button type="button" class="btn btn-primary" (click)="givePdf()" disabled>Pdf</button>
                <button type="button" class="btn btn-primary"(click)="createTalon()">Сохранить</button>
            </div>
            </div>
        </div>
    </div>


    <datalist id="list13">
        <option  *ngFor="let item of talon.list13" [value]="item">
            {{item}}
        </option>
    </datalist>
    <datalist id="list14">
        <option  *ngFor="let item of talon.list14" [value]="item">
            {{item}}
        </option>
    </datalist>
    <datalist id="list21">
        <option  *ngFor="let item of talon.list21" [value]="item">
            {{item}}
        </option>
    </datalist>
    <datalist id="list22">
        <option  *ngFor="let item of talon.list22" [value]="item">
            {{item}}
        </option>
    </datalist>
    <datalist id="list24">
        <option  *ngFor="let item of talon.list24" [value]="item">
            {{item}}
        </option>
    </datalist>
    <datalist id="list25">
        <option  *ngFor="let item of talon.list25" [value]="item">
            {{item}}
        </option>
    </datalist>
    <datalist id="list35">
        <option  *ngFor="let item of talon.list35" [value]="item">
            {{item}}
        </option>
    </datalist>
    <datalist id="list36">
        <option  *ngFor="let item of talon.list36" [value]="item">
            {{item}}
        </option>
    </datalist>
</form>