<ng-container [formGroup]="patientForm" *ngIf="patientForm">
    <div *ngIf="patientForm.pending" class="alert alert-warning">Валидация...</div>
    <div *ngIf="patientForm.invalid || !sIsValid" class="alert alert-danger">Ошибка...</div>
    <form class="pt-1" [formGroup]="patientForm" *ngIf="patientForm" style="background-color: #ade8dd;">
        <div class="row ms-1 mt-1">
            <div class="col-xl">
                <div class="col-xl form-floating p-0">
                    <input type="text" list="listPregCheck" class="form-control" placeholder="Выявление" formControlName="pregCheck">
                    <label>Выявление</label>
                </div>
            </div>
            <div class="col-xl">
                <div class="col-xl form-floating p-0 pe-3">
                    <input type="text" class="form-control" placeholder="Срок беременности" formControlName="pregMonth">
                    <label>Срок беременности</label>
                </div>
            </div>
        </div>
        <div class="row mx-1 mt-1" style="height: 500px; overflow-y: auto; overflow-x: hidden;">
            <app-pregnant-m class="p-0" [(subArr)]="patientPregMs" [(updSchema)]="updSchema" [(patientId)]="patient.patientId" (isValid)="giveSForUpd($event)"></app-pregnant-m>
        </div>
        <br>
        <br>
        <button style="display: none;" type="button"></button>
    </form>

    <datalist id="listPregCheck"><option  *ngFor="let item of patient.listPregCheck" [value]="item"></option></datalist>
    <datalist id="listBirthType"><option  *ngFor="let item of patient.listBirthType" [value]="item"></option></datalist>
    <datalist id="listChildCount"><option  *ngFor="let item of patient.listChildCount" [value]="item"></option></datalist>

</ng-container>
<app-modal-window *ngIf="modal.isVisible$ | async" [(id)]="patientId" [(date)]="date" [(cab)]="cab">
<app-schema-select (schema)="giveSchema($event)"></app-schema-select>
</app-modal-window>
<app-modal-window *ngIf="modal.referalAnalysisIsVisible$ | async">
    <app-modal-referal-analysis [(patientId)]="patient.patientId"></app-modal-referal-analysis>
</app-modal-window>