<table *ngIf="chForm" class="table border" [formGroup]="chForm">
    <thead style="position: sticky;top: 0; background: #ade8dd;">
      <tr>
        <th scope="col" style="width: 30px;">Дата с</th>
        <th scope="col" style="width: 30px;">Дата по</th>
        <th scope="col" style="width: 300px;">Вторичное заболевание</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container formArrayName="secondDeseases" *ngFor="let item of secondDeseases.controls; let i = index">
        <tr [formGroup]="item">
          <td><input type="date" class="form-control tbl" formControlName="item"></td>
          <td><input type="date" class="form-control tbl" formControlName="item"></td>
          <td><input type="text" list="listDesease" class="form-control tbl" formControlName="item"></td>
          <td><button class="btn btn-outline-danger" (click)="delSecondDeseases(item.startDate, item.deseas, i)"></button></td>
        </tr>
      </ng-container>
      <tr>
        <td><input type="date" class="form-control tbl"></td>
        <td><input type="date" class="form-control tbl"></td>
        <td><input type="text" list="listDesease" class="form-control tbl"></td>
        <td><button class="btn btn-outline-success"></button></td>
      </tr>
    </tbody>
  </table>