<table class="table border" [formGroup]="formSd">
    <thead style="position: sticky;top: 0; background: #ade8dd;">
      <tr>
        <th scope="col" style="width: 30px;">Дата с</th>
        <th scope="col" style="width: 30px;">Дата по</th>
        <th scope="col" style="width: 300px;">Вторичное заболевание</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container formArrayName="secondDeseases" *ngFor="let item of secondDeseases.controls; let i = index">
        <tr  formGroupName="{{i}}">
          <td><input type="date" class="form-control tbl" formControlName="startDate"></td>
          <td><input type="date" class="form-control tbl" formControlName="endDate"></td>
          <td><input type="text" list="listDesease" class="form-control tbl" formControlName="deseas"></td>
          <td><button class="btn btn-outline-danger" (click)="delSecondDeseases(i)"></button></td>
        </tr>
      </ng-container>
      <tr>
        <td><input type="date" class="form-control tbl" formControlName="newStartDate"></td>
        <td><input type="date" class="form-control tbl" formControlName="newEndDate"></td>
        <td><input type="text" list="listDesease" class="form-control tbl" formControlName="newDeseas"></td>
        <td><button class="btn btn-outline-success" (click)="createSecondDeseases()"></button></td>
      </tr>
    </tbody>
  </table>