<table class="table border">
    <thead style="position: sticky;top: 0; background: #ade8dd;">
      <tr>
        <th scope="col" style="width: 30px;">Дата с</th>
        <th scope="col" style="width: 30px;">Дата по</th>
        <th scope="col" style="width: 300px;">Врторичное заболевание</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of secondDeseases" [value]="item">
        <td><input type="date" class="form-control tbl" name="" [(ngModel)]="item.startDate"></td>
        <td><input type="date" class="form-control tbl" name="" [(ngModel)]="item.endDate"></td>
        <td><input type="text" list="listDesease" class="form-control tbl" name="" [(ngModel)]="item.deseas"></td>
        <td><button class="btn btn-outline-danger"></button></td>
      </tr>
      <tr>
        <td><input type="date" class="form-control tbl" name=""></td>
        <td><input type="date" class="form-control tbl" name=""></td>
        <td><input type="text" list="listDesease" class="form-control tbl" name=""></td>
        <td><button class="btn btn-outline-success"></button></td>
      </tr>
    </tbody>
  </table>