<ng-container [formGroup]="patientForm" *ngIf="patientForm">
    <div class="navbar row bg-light container-fluid justify-content-between p-0 m-0">
        <div class="col-xl-1 p-0 ps-1 d-flex justify-content-start">
            <img class="ms-1" src="favicon.ico" width="35" height="35">
        </div>
        <div class="col-xl">
            <div class="row g-0">
                <div class="col-xl">
                    <input class="form-control m-0 ps-1 me-3" style="border-radius: 0px;" formControlName="patientFio">
                </div>
                <div class="col-xl-1">
                    <input class="form-control m-0 ps-1 me-3" style="border-radius: 0px;" formControlName="patientId">
                </div>
            </div>
        </div>
        <div class="col-xl-1 p-0 ps-1 d-flex justify-content-end navbar-expand-xxl">
            <button class="navbar-toggler collapsed m-1" type="button" (click)="openDropdown('Меню')">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <nav class="navbar navbar-expand-xxl bg-light p-0">
        <div class="container-fluid">
            <div class="navbar-collapse collapse" [class.show]="isVisibleMenu">
                <ul class="navbar-nav justify-content-between" style="width: 100%;">
                    <li class="nav-item">
                        <a class="nav-link" (click)="leaveComponent('/patient_card/main/')" [routerLink]="['/patient_card/main']" routerLinkActive="disabled">Общие данные</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="leaveComponent('/patient_card/epid/')" [routerLink]="['/patient_card/epid']" routerLinkActive="disabled">Эпид. данные</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="leaveComponent('/patient_card/treatment/')" [routerLink]="['/patient_card/treatment']" routerLinkActive="disabled">Лечение</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="leaveComponent('/patient_card/visit/')" [routerLink]="['/patient_card/visit']" routerLinkActive="disabled">Явка на приём</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" (mouseenter)="openDropdown('Диагностика')" (mouseleave)="openDropdown('Диагностика')">Диагностика</a>
                        <ul [class.visibleDropdown]="isVisibleDiagn" class="dropdown-menu" (mouseenter)="openDropdown('Диагностика')" (mouseleave)="openDropdown('Диагностика')">
                            <li><a class="dropdown-item" (click)="leaveComponent('/patient_card/diagnostics/')" [routerLink]="['/patient_card/diagnostics']" routerLinkActive="disabled">Диагностика общ.</a></li>
                            <li><a class="dropdown-item" (click)="leaveComponent('/patient_card/resistence/')" [routerLink]="['/patient_card/resistence']" routerLinkActive="disabled">Резистентность</a></li>
                            <li><a class="dropdown-item" (click)="leaveComponent('/patient_card/dconcomitant/')" [routerLink]="['/patient_card/dconcomitant']" routerLinkActive="disabled">Диагностика и сопут.</a></li>
                            <li><a class="dropdown-item" (click)="leaveComponent('/patient_card/dmanual/')" [routerLink]="['/patient_card/dmanual']" routerLinkActive="disabled">Диагн. руч.</a></li>
                            <li><a class="dropdown-item" (click)="leaveComponent('/patient_card/acl/')" [routerLink]="['/patient_card/acl']" routerLinkActive="disabled">ACL</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="leaveComponent('/patient_card/recipe/')" [routerLink]="['/patient_card/recipe']" routerLinkActive="disabled">Рецепты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="leaveComponent('/patient_card/preg/')" [routerLink]="['/patient_card/preg']" routerLinkActive="disabled">Беременные</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="leaveComponent('/patient_card/child/')" [routerLink]="['/patient_card/child']" routerLinkActive="disabled">Дети</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">COVID</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">СИЗО</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" (mouseenter)="openDropdown('Системные')" (mouseleave)="openDropdown('Системные')">Системные</a>
                        <ul [class.visibleDropdown]="isVisibleSystem" class="dropdown-menu" (mouseenter)="openDropdown('Системные')" (mouseleave)="openDropdown('Системные')">
                            <li><a class="dropdown-item">setup_print</a></li>
                            <li><a class="dropdown-item">print</a></li>
                            <li><a class="dropdown-item">research_frm</a></li>
                            <li><a class="dropdown-item">other_print</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="leaveComponent('/main')">Гл. меню</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div *ngIf="patientForm.pending" class="alert alert-warning">Валидация...</div>
    <div *ngIf="patientForm.invalid || !siIsValid || !csIsValid || !hrIsValid" class="alert alert-danger">Ошибка...</div>
    <form class="pt-1" [formGroup]="patientForm" *ngIf="patientForm" style="background-color: #ade8dd;">
        <div class="row ms-1">
            <div class="col-xl-3 form-floating p-0">
                <input type="text" class="form-control" placeholder="Стадия" formControlName="stageName">
                <label>Стадия</label>
            </div>
            <div class="col-xl-3 form-floating p-0 ms-2">
                <input type="text" class="form-control" list="listInvalids" placeholder="Гр. инвалидности" formControlName="invalidName">
                <label>Гр. инвалидности</label>
            </div>
        </div>
        <div class="row mt-1 ms-1">
            <div class="col-xl-1">
                <label>Расшифровка стадии</label>
            </div>
            <div class="col-xl">
                <textarea class="form-control" rows="2" formControlName="stageCom"></textarea>
            </div>
        </div>
        <div class="row mt-1 ms-1">
            <div class="col-xl-1">
                <label>Комментарий</label>
            </div>
            <div class="col-xl">
                <textarea class="form-control" rows="2" formControlName="patientCom"></textarea>
            </div>
        </div>
        <div class="row mt-1 ms-1">
            <div class="col-xl-5">
                <div class=" mt-1" style="height: 220px; overflow: auto;">
                    <app-patient-correp-illnesses [(correpIllnessesArr)]="patientCorrespIllnesses" [(patientId)]="patient.patientId" (ciIsValid)="giveSIForUpd($event)"></app-patient-correp-illnesses>
                </div>
            </div>
        </div>
        <div class="row mt-1 ms-1">
            <div class="col-xl">
                <div class=" mt-1" style="height: 230px; overflow: auto;">
                    <app-patient-cure-schemas [(updSchema)]="updSchema" [(cureSchemaArr)]="patientCureSchemas" [(patientId)]="patient.patientId" (csIsValid)="giveCSForUpd($event)"></app-patient-cure-schemas>
                </div>
            </div>
        </div>
        <div class="row mt-1 ms-1">
            <div class="col-xl-11 ">
                <div class=" mt-1" style="height: 220px; overflow: auto;">
                    <app-patient-hosp-result-rs [(hospResultArr)]="patientHospResultRs" [(patientId)]="patient.patientId" (hrIsValid)="giveHRForUpd($event)"></app-patient-hosp-result-rs>
                </div>
            </div>
        </div>
        <br>
        <br>
        <button style="display: none;" type="button"></button>
    </form>

<datalist id="listInvalids"><option  *ngFor="let item of patient.listInvalids" [value]="item"></option></datalist>
<datalist id="listCorrespIllness"><option  *ngFor="let item of patient.listCorrespIllness" [value]="item"></option></datalist>
<datalist id="listCureSchemas"><option  *ngFor="let item of patient.listCureSchemas" [value]="item"></option></datalist>
<datalist id="listCureChanges"><option  *ngFor="let item of patient.listCureChanges" [value]="item"></option></datalist>
<datalist id="listRangeTherapy"><option  *ngFor="let item of patient.listRangeTherapy" [value]="item"></option></datalist>
<datalist id="listLpus"><option  *ngFor="let item of patient.listLpus" [value]="item"></option></datalist>
<datalist id="listHospCourses"><option  *ngFor="let item of patient.listHospCourses" [value]="item"></option></datalist>
<datalist id="listHospResults"><option  *ngFor="let item of patient.listHospResults" [value]="item"></option></datalist>
</ng-container>

<app-modal-window *ngIf="modal.isVisible$ | async" [(id)]="patientId" [(date)]="date" [(cab)]="cab">
<app-schema-select (schema)="giveSchema($event)"></app-schema-select>
</app-modal-window>