<nav class="navbar navbar-expand-xxl bg-light p-0">
    <div class="container-fluid m-2">
        <div class="navbar-collapse">
            <h4 style="width: 40%;">{{name}}</h4>
            <ul class="navbar-nav flex-row-reverse" style="width: 80%;">
                <li class="nav-item mx-1">
                    <button type="button" class="btn btn-danger" [routerLink]="['/main']">Гл. меню</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>