<table class="table border" [formGroup]="formS">
    <thead style="position: sticky; top: 0; background: #ade8dd;">
      <tr>
        <th scope="col" style="width: 135px;">Дата</th>
        <th scope="col">Результат</th>
      </tr>
    </thead>
    <tbody>
        <ng-container formArrayName="subs" *ngFor="let item of subs.controls; let i = index">
          <tr formGroupName="{{i}}">
            <td><input type="date" class="form-control tbl" formControlName="date"></td>
            <td><input type="text" class="form-control tbl" formControlName="result" ></td>
          </tr>
        </ng-container>
    </tbody>
</table>