<ng-container [formGroup]="patientForm" *ngIf="patientForm">
    <div *ngIf="patientForm.pending" class="alert alert-warning">Валидация...</div>
    <div *ngIf="patientForm.invalid || !cIsValid || !pIsValid || !oIsValid" class="alert alert-danger">Ошибка...</div>
    <form class="pt-1" [formGroup]="patientForm" *ngIf="patientForm" style="background-color: #ade8dd;">
        <div class="row ms-1 mt-1">
            <!-- <div class="col-xl">
                <app-sub-covid [(subArr)]="patientOtherDiads" [(patientId)]="patient.patientId" [(type)]="type1" (isValid)="giveoForUpd($event)"></app-sub-covid>
            </div> -->
            <div class="col-xl-6">
                <app-sub-covid 
                [(subArr)]="patientPatDiads" 
                [(patientId)]="patient.patientId" 
                [(type)]="type2" 
                [(listFullMKB10Long)]="patient.listFullMKB10Long"
                [(listFullMKB10Short)]="patient.listFullMKB10Short"
                (isValid)="giveoForUpd($event)"></app-sub-covid>
            </div>
        </div>
        <div class="row ms-1 mt-1">
            <app-covid [(subArr)]="patientCovids" [(patientId)]="patient.patientId" (isValid)="giveoForUpd($event)"></app-covid>
        </div>
        <br>
        <br>
        <button style="display: none;" type="button"></button>
    </form>

<datalist id="listYN"><option  *ngFor="let item of patient.listYN" [value]="item"></option></datalist>
<datalist id="listOutHosp"><option  *ngFor="let item of patient.listOutHosp" [value]="item"></option></datalist>
<datalist id="listClinVarCOVID"><option  *ngFor="let item of patient.listClinVarCOVID" [value]="item"></option></datalist>
<datalist id="listCourseCOVID"><option  *ngFor="let item of patient.listCourseCOVID" [value]="item"></option></datalist>
<datalist id="listMkb10COVIDShort"><option  *ngFor="let item of patient.listMkb10COVIDShort" [value]="item"></option></datalist>
<datalist id="listMkb10COVIDLong"><option  *ngFor="let item of patient.listMkb10COVIDLong" [value]="item"></option></datalist>
<datalist id="listMkbTuderShort"><option  *ngFor="let item of patient.listMkbTuderShort" [value]="item"></option></datalist>
<datalist id="listMkbTuderLong"><option  *ngFor="let item of patient.listMkbTuderLong" [value]="item"></option></datalist>
<datalist id="listMkbPneumoniaShort"><option  *ngFor="let item of patient.listMkbPneumoniaShort" [value]="item"></option></datalist>
<datalist id="listMkbPneumoniaLong"><option  *ngFor="let item of patient.listMkbPneumoniaLong" [value]="item"></option></datalist>
<datalist id="listCommitment"><option  *ngFor="let item of patient.listCommitment" [value]="item"></option></datalist>
<datalist id="listAvlType"><option  *ngFor="let item of patient.listAvlType" [value]="item"></option></datalist>

     
<datalist id="listFullMKB10Long">
    <cdk-virtual-scroll-viewport itemSize="1000">  
        <option  *ngFor="let item of patient.listFullMKB10Long" [value]="item"></option>
    </cdk-virtual-scroll-viewport>
</datalist>

<cdk-virtual-scroll-viewport itemSize="1000">       
    <datalist id="listFullMKB10Short"><option  *ngFor="let item of patient.listFullMKB10Short" [value]="item"></option></datalist>
</cdk-virtual-scroll-viewport>
</ng-container>
<app-modal-window *ngIf="modal.referalAnalysisIsVisible$ | async">
    <app-modal-referal-analysis [(patientId)]="patient.patientId"></app-modal-referal-analysis>
</app-modal-window>