<table class="table border" [formGroup]="formCS">
    <thead style="position: sticky; top: 0; background: #ade8dd;">
      <tr>
        <th scope="col" style="width: 300px;">Схема терапии</th>
        <th scope="col" style="width: 130px;">Дата начала</th>
        <th scope="col" style="width: 130px;">Дата окончания</th>
        <th scope="col" style="width: 200px;">Комментарий</th>
        <th scope="col" style="width: 300px;">причина смены терапии</th>
        <th scope="col" style="width: 150px;">№ прот. ВК</th>
        <th scope="col" style="width: 150px;">Ряд терапии</th>
        <th scope="col" style="width: 30px;">Посл.</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <ng-container formArrayName="cureSchemas" *ngFor="let item of cureSchemas.controls; let i = index">
        <tr formGroupName="{{i}}">
            <td><input type="text" list="" class="form-control tbl" formControlName="cureSchemaName" title="{{pervValue[i].cureSchemaName}}" (click)="modal.open()" (click)="writeInd(i)"></td>
            <td><input type="date" class="form-control tbl" formControlName="startDate"></td>
            <td><input type="date" class="form-control tbl" formControlName="endDate"></td>
            <td><textarea class="form-control py-0" style="min-height: 30px;" rows="1" formControlName="schemaComm"></textarea></td>
            <td><input type="text" list="listCureChanges" class="form-control tbl" formControlName="cureChangeName" title="{{pervValue[i].cureChangeName}}"></td>
            <td><input type="text" class="form-control tbl" formControlName="protNum"></td>
            <td><input type="text" list="listRangeTherapy" class="form-control tbl" formControlName="rangeTherapy" title="{{pervValue[i].rangeTherapy}}"></td>
            <td><input type="checkbox" class="form-check-input" formControlName="last"></td>
            <td><button type="button" class="btn btn-outline-danger" (click)="delCureSchemas(i)"></button></td>
        </tr>
        </ng-container>
        <tr>
          <td><input type="text" list="" class="form-control tbl" formControlName="newCureSchemaName"></td>
          <td><input type="date" class="form-control tbl" formControlName="newStartDate"></td>
          <td><input type="date" class="form-control tbl" formControlName="newEndDate"></td>
          <td><textarea class="form-control py-0" style="min-height: 30px;" rows="1" formControlName="newSchemaComm"></textarea></td>
          <td><input type="text" list="listCureChanges" class="form-control tbl" formControlName="newCureChangeName"></td>
          <td><input type="text" class="form-control tbl" formControlName="newProtNum"></td>
          <td><input type="text" list="listRangeTherapy" class="form-control tbl" formControlName="newRangeTherapy"></td>
          <td><input type="checkbox" class="form-check-input" formControlName="newLast"></td>
          <td><button type="button" class="btn btn-outline-success" (click)="createCureSchemas()"></button></td>
      </tr>
    </tbody>
</table>