<ng-container [formGroup]="patientForm" *ngIf="patientForm">
    <div *ngIf="patientForm.pending" class="alert alert-warning">Валидация...</div>
    <div *ngIf="patientForm.invalid" class="alert alert-danger">Ошибка...</div>
    <form class="pt-1" [formGroup]="patientForm" *ngIf="patientForm" style="background-color: #ade8dd;">
        <div class="row ms-1 mt-3">
            <div class="col-xl me-3 border">
                <div class="row"><h6 class="text-start">Результат на гепатит C методом ПЦР</h6></div>
                <div class="row" style="height: 220px; overflow: auto;">
                    <app-hep-cpcr [(subArr)]="patientHepCPcrs"></app-hep-cpcr>
                </div>
            </div>
            <div class="col-xl-4 me-3 border">
                <div class="row"><h6 class="text-start">Результат на гепатит В методом ПЦР</h6></div>
                <div class="row" style="height: 220px; overflow: auto;">
                    <app-diagnostics3-col [(subArr)]="patientHepBPcrs"></app-diagnostics3-col>
                </div>
            </div>
        </div>
        <div class="row mx-1 mt-1">
            <div class="col-xl-4 border">
                <div class="row"><h6 class="text-start">Результат на гепатит C методом ИФА/ИХЛА</h6></div>
                <div class="row" style="height: 220px; overflow: auto;">
                    <app-diagnostics2-col [(subArr)]="patientHepCIfas"></app-diagnostics2-col>
                </div>
            </div>
            <div class="col-xl-4 border">
                <div class="row"><h6 class="text-start">Результат на гепатит В методом ИФА/ИХЛА</h6></div>
                <div class="row" style="height: 220px; overflow: auto;">
                    <app-diagnostics2-col [(subArr)]="patientHepBIfas"></app-diagnostics2-col>
                </div>
            </div>
            <div class="col-xl-4 border">
                <div class="row"><h6 class="text-start">Результат на сифилис методом ИФА/ИХЛА</h6></div>
                <div class="row" style="height: 220px; overflow: auto;">
                    <app-diagnostics2-col [(subArr)]="patientSiphilisIfas"></app-diagnostics2-col>
                </div>
            </div>
        </div>
        <div class="row mx-1 mt-1">
            <div class="col-xl-4 border">
                <div class="row"><h6 class="text-start">Токсоплазмоз IgG</h6></div>
                <div class="row" style="height: 220px; overflow: auto;">
                    <app-diagnostics2-col [(subArr)]="patientToxIggs"></app-diagnostics2-col>
                </div>
            </div>
            <div class="col-xl-4 border">
                <div class="row"><h6 class="text-start">Токсоплазмоз IgM</h6></div>
                <div class="row" style="height: 220px; overflow: auto;">
                    <app-diagnostics2-col [(subArr)]="patientToxIgms"></app-diagnostics2-col>
                </div>
            </div>
            <div class="col-xl-4 border">
                <div class="row"><h6 class="text-start">Вирус папилломы человека</h6></div>
                <div class="row" style="height: 220px; overflow: auto;">
                    <app-diagnostics3-col [(subArr)]="patientVpchs"></app-diagnostics3-col>
                </div>
            </div>
        </div>
        <br>
        <br>
        <button style="display: none;" type="button"></button>
    </form>
</ng-container>
<app-modal-window *ngIf="modal.referalAnalysisIsVisible$ | async">
    <app-modal-referal-analysis [(patientId)]="patient.patientId"></app-modal-referal-analysis>
</app-modal-window>