<nav class="navbar navbar-expand-xxl bg-light" aria-label="Fourth navbar example">
    <div class="container-fluid">
        <img src="favicon.ico" width="35" height="35">
        <p class="m-auto" style="padding-left: 0.25rem;">Общие данные</p>
        <button class="navbar-toggler collapsed" type="button" (click)="openDropdown('Меню')">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" [class.show]="isVisibleMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" (click)="leaveComponent('/patient_card/main/')" [routerLink]="['/patient_card/main']" routerLinkActive="disabled">Общие данные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="leaveComponent('/patient_card/epid/')" [routerLink]="['/patient_card/epid']" routerLinkActive="disabled">Эпид. данные</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" (click)="leaveComponent('/patient_card/treatment/')" [routerLink]="['/patient_card/treatment']" routerLinkActive="disabled">Лечение</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="leaveComponent('/patient_card/visit/')" [routerLink]="['/patient_card/visit']" routerLinkActive="disabled">Явка на приём</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" (mouseenter)="openDropdown('Диагностика')" (mouseleave)="openDropdown('Диагностика')">Диагностика</a>
                    <ul [class.visibleDropdown]="isVisibleDiagn" class="dropdown-menu" (mouseenter)="openDropdown('Диагностика')" (mouseleave)="openDropdown('Диагностика')">
                        <li><a class="dropdown-item" (click)="leaveComponent('/patient_card/diagnostics/')" [routerLink]="['/patient_card/diagnostics']" routerLinkActive="disabled">Диагностика общ.</a></li>
                        <li><a class="dropdown-item" (click)="leaveComponent('/patient_card/resistence/')" [routerLink]="['/patient_card/resistence']" routerLinkActive="disabled">Резистентность</a></li>
                        <li><a class="dropdown-item" (click)="leaveComponent('/patient_card/dconcomitant/')" [routerLink]="['/patient_card/dconcomitant']" routerLinkActive="disabled">Диагностика и сопут.</a></li>
                        <li><a class="dropdown-item" (click)="leaveComponent('/patient_card/dmanual/')" [routerLink]="['/patient_card/dmanual']" routerLinkActive="disabled">Диагн. руч.</a></li>
                        <li><a class="dropdown-item" (click)="leaveComponent('/patient_card/acl/')" [routerLink]="['/patient_card/acl']" routerLinkActive="disabled">ACL</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Рецепты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Беременные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Дети</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">COVID</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">СИЗО</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" (mouseenter)="openDropdown('Системные')" (mouseleave)="openDropdown('Системные')">Системные</a>
                    <ul [class.visibleDropdown]="isVisibleSystem" class="dropdown-menu" (mouseenter)="openDropdown('Системные')" (mouseleave)="openDropdown('Системные')">
                        <li><a class="dropdown-item">setup_print</a></li>
                        <li><a class="dropdown-item">print</a></li>
                        <li><a class="dropdown-item">research_frm</a></li>
                        <li><a class="dropdown-item">other_print</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="leaveComponent('/main')">Гл. меню</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<ng-container  *ngIf="patientForm">
<div *ngIf="patientForm.pending" class="alert alert-warning">Валидация...</div>
<div *ngIf="patientForm.invalid || !bIsValid || !sdIsValid || !stageIsValid" class="alert alert-danger">Ошибка...</div>
<form *ngIf="patientForm" [formGroup]="patientForm">
    <div style="background-color: #ade8dd;">
        <div class="row mb-2">
            <div class="col-xl-4">
                <div class="row m-1">
                    <div class="col-xl form-floating p-0 ps-1">
                        <input type="text" class="form-control" placeholder="ИД пациента" formControlName="patientId">
                        <label for="floatingInput">ИД пациента</label>
                    </div>
                    <div class="col-xl-6 form-floating p-0">
                        <input type="date" class="form-control" placeholder="Дата внесения" formControlName="inputDate">
                        <label for="floatingInput">Дата внесения</label>
                    </div>
                </div>
                <div class="form-floating ms-1">
                    <input type="text" class="form-control" placeholder="Фамилия" formControlName="familyName">
                    <label for="floatingInput">Фамилия</label>
                </div>
                <div class="form-floating ms-1">
                    <input type="text" class="form-control" placeholder="Имя" formControlName="firstName">
                    <label for="floatingInput">Имя</label>
                </div>
                <div class="form-floating ms-1">
                    <input type="text" class="form-control" placeholder="Отчество" formControlName="thirdName">
                    <label for="floatingInput">Отчество</label>
                </div>
                <div class="form-floating ms-1">
                    <input type="date" class="form-control" placeholder="Дата рождения" formControlName="birthDate">
                    <label for="floatingInput">Дата рождения</label>
                </div>
                <div class="form-floating ms-1">
                    <input type="text" list="listSex" class="form-control" placeholder="Пол" formControlName="sex">
                    <label for="floatingInput">Пол</label>
                </div>
                <div class="form-floating ms-1">
                    <input type="date" class="form-control" placeholder="Дата пост. на учет" formControlName="regOnDate">
                    <label for="floatingInput">Дата пост. на учет</label>
                </div>
                <div class="ms-1">
                    <div class="col-xl-5 form-floating p-0 btn-group">
                        <input type="date" class="form-control" placeholder="Дата снят. с учёта" formControlName="regOffDate">
                        <label for="floatingInput">Дата снят. с учёта</label>
                    </div>
                    <div class="col-xl-7 form-floating p-0 ps-1 btn-group">
                        <input type="text" list="listRegOffReason" class="form-control" placeholder="Причина снят. с учёта" formControlName="regOffReason">
                        <label for="floatingInput">Причина снят. с учёта</label>
                    </div>
                </div>
                <div class="form-floating ms-1">
                    <input type="text" class="form-control" placeholder="УНРЗ" formControlName="unrzFr">
                    <label for="floatingInput">УНРЗ</label>
                </div>
            </div>
            <div class="col-xl me-1">
                <div class=" mt-1" style="height: 367px; overflow: auto;">
                    <app-patient-blot [(blotArr)]="patientBlot" [(patientId)]="patient.patientId" (bIsValid)="giveBlotForUpd($event)"></app-patient-blot>
                </div>
            </div>
        </div>
        <p class="text-start ms-2 m-0">Место проживания</p>
        <div class="border mb-2">
            <div class="row g-1">
                <div class="col-xl m-1">
                    <div class="form-floating">
                        <input type="text" list="listRegion" class="form-control" placeholder="Регион" formControlName="region">
                        <label for="floatingInput">Регион</label>
                    </div>
                </div>
                <div class="col-xl m-1">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Город" formControlName="cityName">
                        <label for="floatingInput">Город</label>
                    </div>
                </div>
                <div class="col-xl m-1">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Населенный пункт" formControlName="locationName">
                        <label for="floatingInput">Населенный пункт</label>
                    </div>
                </div>
            </div>
            <div class="row g-1">
                <div class="col-xl m-1">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Телефон" formControlName="phone">
                        <label for="floatingInput">Телефон</label>
                    </div>
                </div>
                <div class="col-xl m-1">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Улица" formControlName="addrStreat">
                        <label for="floatingInput">Улица</label>
                    </div>
                </div>
                <div class="col-xl-1 m-1">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Дом" formControlName="addrHouse">
                        <label for="floatingInput">Дом</label>
                    </div>
                </div>
                <div class="col-xl-1 m-1">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Корпус" formControlName="addrExt">
                        <label for="floatingInput">Корпус</label>
                    </div>
                </div>
                <div class="col-xl-1 m-1">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Квартира" formControlName="addrFlat">
                        <label for="floatingInput">Квартира</label>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-start ms-2 m-0">Место фактического проживания</p>
        <div class="border mb-2">
            <div class="row g-1">
                <div class="col-xl m-1">
                    <div class="form-floating">
                        <input type="text" list="listRegion" class="form-control" placeholder="Регион" formControlName="regionFact">
                        <label for="floatingInput">Регион</label>
                    </div>
                </div>
                <div class="col-xl m-1">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Город" formControlName="cityNameFact">
                        <label for="floatingInput">Город</label>
                    </div>
                </div>
                <div class="col-xl m-1">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Населенный пункт" formControlName="locationNameFact">
                        <label for="floatingInput">Населенный пункт</label>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="col-xl form-floating p-0 m-0 btn-group">
                        <input type="date" class="form-control" placeholder="Дата рег. с" formControlName="dtRegBeg">
                        <label for="floatingInput">Дата рег. с</label>
                    </div>
                    <div class="col-xl form-floating p-0 m-0 ps-1 btn-group">
                        <input type="date" class="form-control" placeholder="Дата рег. по" formControlName="dtRefEnd">
                        <label for="floatingInput">Дата рег. по</label>
                    </div>
                </div>
            </div>
            <div class="row g-1">
                <div class="col-xl m-1">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Индекс" formControlName="indexFact">
                        <label for="floatingInput">Индекс</label>
                    </div>
                </div>
                <div class="col-xl m-1">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Улица" formControlName="addrStreatFact">
                        <label for="floatingInput">Улица</label>
                    </div>
                </div>
                <div class="col-xl-1 m-1">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Дом" formControlName="addrHouseFact">
                        <label for="floatingInput">Дом</label>
                    </div>
                </div>
                <div class="col-xl-1 m-1">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Корпус" formControlName="addrExtFact">
                        <label for="floatingInput">Корпус</label>
                    </div>
                </div>
                <div class="col-xl-1 m-1">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Квартира" formControlName="addrFlatFact">
                        <label for="floatingInput">Квартира</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-1 mb-2">
            <div class="col-xl m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Примечание" formControlName="comm">
                    <label for="floatingInput">Примечание</label>
                </div>
            </div>
            <div class="col-xl-3 m-1">
                <div class="form-floating">
                    <input type="text" list="listCountry" class="form-control" placeholder="Страна" formControlName="country">
                    <label for="floatingInput">Страна</label>
                </div>
            </div>
        </div>
        <div class="row g-1 mb-1">
            <div class="col-xl-3 me-1">
                <div class="ms-1 mt-1" style="height: 115px; overflow: auto;">
                    <app-patient-stage [(stageArr)]="patientStages" [(patientId)]="patient.patientId" (sIsValid)="giveStageForUpd($event)"></app-patient-stage>
                </div>
            </div>
            <div class="col-xl-5 me-1">
                <div class=" mt-1" style="height: 115px; overflow: auto;">
                    <app-patient-second-desease [(deseasArr)]="patientSecondDeseases" [(patientId)]="patient.patientId" (sdIsValid)="giveSdForUpd($event)"></app-patient-second-desease>
                </div>
            </div>
        </div>
        <div class="row g-1 mb-2">
            <div class="col-xl m-1">
                <div class="form-floating">
                    <input type="text" list="listPlaceChecks" class="form-control" placeholder="Место выявления" formControlName="placeCheck">
                    <label for="floatingInput">Место выявления</label>
                </div>
                <div class="form-floating">
                    <input type="text" list="listCodeMKB" class="form-control" placeholder="Кодировка МКБ 10" formControlName="codeMKB10">
                    <label for="floatingInput">Кодировка МКБ 10</label>
                </div>
            </div>
            <div class="col-xl m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="№ карты" formControlName="cardNo">
                    <label for="floatingInput">№ карты</label>
                </div>
                <div class="form-floating">
                    <input type="text" list="listVulnerableGroup" class="form-control" placeholder="Кат. уязвимой группы" formControlName="vulnerableGroup">
                    <label for="floatingInput">Кат. уязвимой группы</label>
                </div>
            </div>
            <div class="col-xl-1 m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Рост" formControlName="heightOld">
                    <label for="floatingInput">Рост</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Вес" formControlName="weightOld">
                    <label for="floatingInput">Вес</label>
                </div>
            </div>
            <div class="col-xl-2 m-1">
                <div class="row g-0">
                    <div class="col-xl">
                        <label>Зав. АПО</label>
                    </div>
                    <div class="col-xl">
                        <input type="checkbox" class="form-check-input" placeholder="Зав. АПО" formControlName="headPhysician">
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-xl">
                        <label>Внесен в ФР</label>
                    </div>
                    <div class="col-xl">
                        <input type="checkbox" class="form-check-input" placeholder="Внесен в ФР" formControlName="zamMedPart">
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-1 mb-2">
            <div class="col-xl-1 m-1">
                <div class="form-floating">
                    <input type="text" list="listCheckCourseShort" class="form-control" placeholder="Обращения" formControlName="checkCourseShort">
                    <label for="floatingInput">Причина Обращения</label>
                </div>
                <div class="form-floating">
                    <input type="text" list="listInfectCourseShort" class="form-control" placeholder="Заражения" formControlName="infectCourseShort">
                    <label for="floatingInput">Причина Заражения</label>
                </div>
                <div class="form-floating">
                    <input type="text" list="listDieCourseShort" class="form-control" placeholder="смерти" formControlName="dieCourseShort">
                    <label for="floatingInput">Причина Смерти</label>
                </div>
            </div>
            <div class="col-xl m-1">
                <div class="form-floating">
                    <input type="text" list="listCheckCourseLong" class="form-control" placeholder="Причина обращения" formControlName="checkCourseLong">
                    <label for="floatingInput">Причина обращения</label>
                </div>
                <div class="form-floating">
                    <input type="text" list="listInfectCourseLong" class="form-control" placeholder="Причина заражения" formControlName="infectCourseLong">
                    <label for="floatingInput">Причина заражения</label>
                </div>
                <div class="form-floating">
                    <input type="text" list="listDieCourseLong" class="form-control" placeholder="Причина смерти" formControlName="dieCourseLong">
                    <label for="floatingInput">Причина смерти</label>
                </div>
            </div>
        </div>
        <div class="row g-1 mb-2">
            <div class="col-xl-2 m-1">
                <div class="form-floating">
                    <input type="date" class="form-control" placeholder="Передан в район" formControlName="transfAreaDate">
                    <label for="floatingInput">Передан в район</label>
                </div>
                <div class="form-floating">
                    <input type="date" class="form-control" placeholder="Передан в Суб. Фед." formControlName="transfFederDate">
                    <label for="floatingInput">Передан в Суб. Фед.</label>
                </div>
                <div class="form-floating">
                    <input type="date" class="form-control" placeholder="Передан в УФСИН" formControlName="ufsinDate">
                    <label for="floatingInput">Передан в УФСИН</label>
                </div>
            </div>
            <div class="col-xl-2 m-1">
                <div class="form-floating">
                    <input type="date" class="form-control" placeholder="Дата внесения смерти" formControlName="dieInputDate">
                    <label for="floatingInput">Дата внесения смерти</label>
                </div>
                <div class="form-floating">
                    <input type="date" class="form-control" placeholder="Дата смерти" formControlName="dieDate">
                    <label for="floatingInput">Дата смерти</label>
                </div>
                <div class="form-floating">
                    <input type="date" class="form-control" placeholder="Дата смерти от СПИДа" formControlName="dieAidsDate">
                    <label for="floatingInput">Дата смерти от СПИДа</label>
                </div>
            </div>
            <div class="col-xl-2 m-1">
                <div class="form-floating">
                    <input type="text" list="listARVT" class="form-control" placeholder="АРВТ" formControlName="arvt">
                    <label for="floatingInput">АРВТ</label>
                </div>
                <div class="form-floating">
                    <input type="text" list="listInvalid" class="form-control" placeholder="Гр. инвалидности" formControlName="invalid">
                    <label for="floatingInput">Гр. инвалидности</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Архив" formControlName="archive">
                    <label for="floatingInput">Архив</label>
                </div>
            </div>
            <div class="col-xl-4 m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Кодовое слово" formControlName="codeWord">
                    <label for="floatingInput">Кодовое слово</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="СНИЛС" formControlName="snils">
                    <label for="floatingInput">СНИЛС</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Смена ФИО" formControlName="fioChange">
                    <label for="floatingInput">Смена ФИО</label>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
    <div class="row g-0">
        <!-- deletePatient -->
        <div class="row g-0 text-left" (click)="deletePatient()"><button type="button" class="btn btn-lg btn-outline-danger">Удалить карту</button></div>
    </div>
</form>


<datalist id="listSex">
    <option  *ngFor="let sex of patient.listSex" [value]="sex">
        {{sex}}
    </option>
</datalist>
<datalist id="listRegOffReason">
    <option  *ngFor="let RegOffReason of patient.listRegOffReason" [value]="RegOffReason">
        {{RegOffReason}}
    </option>
</datalist>
<datalist id="listRegion">
    <option  *ngFor="let Region of patient.listRegion" [value]="Region">
        {{Region}}
    </option>
</datalist>
<datalist id="listCountry">
    <option  *ngFor="let Country of patient.listCountry" [value]="Country">
        {{Country}}
    </option>
</datalist>
<datalist id="listPlaceChecks">
    <option  *ngFor="let PlaceCheck of patient.listPlaceCheck" [value]="PlaceCheck">
        {{PlaceCheck}}
    </option>
</datalist>
<datalist id="listCodeMKB">
    <option  *ngFor="let CodeMKB of patient.listCodeMKB" [value]="CodeMKB">
        {{CodeMKB}}
    </option>
</datalist>
<datalist id="listCheckCourseShort">
    <option  *ngFor="let CheckCourseShort of patient.listCheckCourseShort" [value]="CheckCourseShort">
        {{CheckCourseShort}}
    </option>
</datalist>
<datalist id="listCheckCourseLong">
    <option  *ngFor="let CheckCourseLong of patient.listCheckCourseLong" [value]="CheckCourseLong">
        {{CheckCourseLong}}
    </option>
</datalist>
<datalist id="listInfectCourseShort">
    <option  *ngFor="let InfectCourseShort of patient.listInfectCourseShort" [value]="InfectCourseShort">
        {{InfectCourseShort}}
    </option>
</datalist>
<datalist id="listInfectCourseLong">
    <option  *ngFor="let InfectCourseLong of patient.listInfectCourseLong" [value]="InfectCourseLong">
        {{InfectCourseLong}}
    </option>
</datalist>
<datalist id="listDieCourseShort">
    <option  *ngFor="let DieCourseShort of patient.listDieCourseShort" [value]="DieCourseShort">
        {{DieCourseShort}}
    </option>
</datalist> 
<datalist id="listDieCourseLong">
    <option  *ngFor="let DieCourseLong of patient.listDieCourseLong" [value]="DieCourseLong">
        {{DieCourseLong}}
    </option>
</datalist> 
<datalist id="listVulnerableGroup">
    <option  *ngFor="let VulnerableGroup of patient.listVulnerableGroup" [value]="VulnerableGroup">
        <!-- {{VulnerableGroup}} -->
    </option>
</datalist> 
<datalist id="listARVT">
    <option  *ngFor="let arvt of patient.listARVT" [value]="arvt">
        {{arvt}}
    </option>
</datalist> 
<datalist id="listInvalid">
    <option  *ngFor="let Invalid of patient.listInvalid" [value]="Invalid">
        {{Invalid}}
    </option>
</datalist> 
<datalist id="listCheckPlace">
    <option  *ngFor="let CheckPlace of patient.listCheckPlace" [value]="CheckPlace">
        {{CheckPlace}}
    </option>
</datalist> 
<datalist id="listRes">
    <option  *ngFor="let Res of patient.listRes" [value]="Res">
        {{Res}}
    </option>
</datalist> 
<datalist id="listDesease">
    <option  *ngFor="let Desease of patient.listDesease" [value]="Desease">
        {{Desease}}
    </option>
</datalist> 
<datalist id="listStage">
    <option  *ngFor="let Stage of patient.listStage" [value]="Stage">
        {{Stage}}
    </option>
</datalist> 

</ng-container>