.visibleDropdown{
    display: block;
}

.fontw{
    font-weight: 600!important;
}

.form-control{
    font-weight: 600;
}

input.ng-touched.ng-invalid{
    border-color: red;
    border-width: 2px;
}