<nav class="navbar navbar-expand-xxl bg-light" aria-label="Fourth navbar example">
    <div class="container-fluid">
        <img src="favicon.ico" width="35" height="35">
        <p class="m-auto" style="padding-left: 0.25rem;">Общие данные</p>
        <button class="navbar-toggler collapsed" type="button" (click)="openDropdown('Меню')">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" [class.show]="isVisibleMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/patient_card/main']" routerLinkActive="disabled" >Общие данные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Эпид. данные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Лечение</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Явка на приём</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" (click)="openDropdown('Диагностика')">Диагностика</a>
                    <ul [class.visibleDropdown]="isVisibleDiagn" class="dropdown-menu">
                        <li><a class="dropdown-item">Диагностика общ.</a></li>
                        <li><a class="dropdown-item">Резистентность</a></li>
                        <li><a class="dropdown-item">Диагностика и сопут.</a></li>
                        <li><a class="dropdown-item">Диагн. руч.</a></li>
                        <li><a class="dropdown-item">ACL</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Рецепты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Беременные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Дети</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">COVID</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">СИЗО</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" (click)="openDropdown('Системные')">Системные</a>
                    <ul [class.visibleDropdown]="isVisibleSystem" class="dropdown-menu">
                        <li><a class="dropdown-item">setup_print</a></li>
                        <li><a class="dropdown-item">print</a></li>
                        <li><a class="dropdown-item">research_frm</a></li>
                        <li><a class="dropdown-item">other_print</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/main']" routerLinkActive="disabled">Гл. меню</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div style="background-color: #ade8dd;">
    <div class="row mb-2">
        <div class="col-xl-4">
            <div class="row m-1">
                <div class="col-xl  form-floating p-0 ps-1">
                    <input type="text" class="form-control" disabled placeholder="ИД пациента" name="patientId" [(ngModel)]="patient.patientId">
                    <label for="floatingInput">ИД пациента</label>
                </div>
                <div class="col-xl -6 form-floating p-0">
                    <input type="date" class="form-control" disabled placeholder="Дата внесения" name="inputDate" [(ngModel)]="patient.inputDate">
                    <label for="floatingInput">Дата внесения</label>
                </div>
            </div>
            <div class="form-floating ms-1">
                <input type="text" class="form-control" placeholder="Фамилия" name="" [(ngModel)]="patient.familyName">
                <label for="floatingInput">Фамилия</label>
            </div>
            <div class="form-floating ms-1">
                <input type="text" class="form-control" placeholder="Имя" name="" [(ngModel)]="patient.firstName">
                <label for="floatingInput">Имя</label>
            </div>
            <div class="form-floating ms-1">
                <input type="text" class="form-control" placeholder="Отчество" name="" [(ngModel)]="patient.thirdName">
                <label for="floatingInput">Отчество</label>
            </div>
            <div class="form-floating ms-1">
                <input type="date" class="form-control" placeholder="Дата рождения" name="" [(ngModel)]="patient.birthDate">
                <label for="floatingInput">Дата рождения</label>
            </div>
            <div class="form-floating ms-1">
                <input type="text" list="listSex" class="form-control" placeholder="Пол" name="" [(ngModel)]="patient.sex">
                <label for="floatingInput">Пол</label>
            </div>
            <div class="form-floating ms-1">
                <input type="date" class="form-control" placeholder="Дата пост. на учет" name="" [(ngModel)]="patient.regOnDate">
                <label for="floatingInput">Дата пост. на учет</label>
            </div>
            <div class="ms-1">
                <div class="col-xl-5 form-floating p-0 btn-group">
                    <input type="date" class="form-control" placeholder="Дата снят. с учёта" name="" [(ngModel)]="patient.regOffDate">
                    <label for="floatingInput">Дата снят. с учёта</label>
                </div>
                <div class="col-xl-7 form-floating p-0 ps-1 btn-group">
                    <input type="text" list="listRegOffReason" class="form-control" placeholder="Причина снят. с учёта" name=""[(ngModel)]="patient.regOffReason">
                    <label for="floatingInput">Причина снят. с учёта</label>
                </div>
            </div>
            <div class="form-floating ms-1">
                <input type="text" class="form-control" placeholder="УНРЗ" name="" [(ngModel)]="patient.unrzFr">
                <label for="floatingInput">УНРЗ</label>
            </div>
        </div>
        <div class="col-xl me-1">
            <div class=" mt-1" style="height: 367px; overflow: auto;">
                <app-patient-blot [(blots)]="patient.blots" (delBlotId)="delBlot($event)"></app-patient-blot>
            </div>
        </div>
    </div>
    <p class="text-start ms-2 m-0">Место проживания</p>
    <div class="border mb-2">
        <div class="row g-1">
            <div class="col-xl m-1">
                <div class="form-floating">
                    <input type="text" list="listRegion" class="form-control" placeholder="Регион" name="" [(ngModel)]="patient.region">
                    <label for="floatingInput">Регион</label>
                </div>
            </div>
            <div class="col-xl m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Город" name="" [(ngModel)]="patient.cityName">
                    <label for="floatingInput">Город</label>
                </div>
            </div>
            <div class="col-xl m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Населенный пункт" name="" [(ngModel)]="patient.locationName">
                    <label for="floatingInput">Населенный пункт</label>
                </div>
            </div>
        </div>
        <div class="row g-1">
            <div class="col-xl m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Телефон" name="" [(ngModel)]="patient.phone">
                    <label for="floatingInput">Телефон</label>
                </div>
            </div>
            <div class="col-xl m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Улица" name="" [(ngModel)]="patient.addrStreat">
                    <label for="floatingInput">Улица</label>
                </div>
            </div>
            <div class="col-xl-1 m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Дом" name="" [(ngModel)]="patient.addrHouse">
                    <label for="floatingInput">Дом</label>
                </div>
            </div>
            <div class="col-xl-1 m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Корпус" name="" [(ngModel)]="patient.addrExt">
                    <label for="floatingInput">Корпус</label>
                </div>
            </div>
            <div class="col-xl-1 m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Квартира" name="" [(ngModel)]="patient.addrFlat">
                    <label for="floatingInput">Квартира</label>
                </div>
            </div>
        </div>
    </div>
    <p class="text-start ms-2 m-0">Место фактического проживания</p>
    <div class="border mb-2">
        <div class="row g-1">
            <div class="col-xl m-1">
                <div class="form-floating">
                    <input type="text" list="listRegion" class="form-control" placeholder="Регион" name="" [(ngModel)]="patient.regionFact">
                    <label for="floatingInput">Регион</label>
                </div>
            </div>
            <div class="col-xl m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Город" name="" [(ngModel)]="patient.cityNameFact">
                    <label for="floatingInput">Город</label>
                </div>
            </div>
            <div class="col-xl m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Населенный пункт" name="" [(ngModel)]="patient.locationNameFact">
                    <label for="floatingInput">Населенный пункт</label>
                </div>
            </div>
            <div class="col-xl">
                <div class="col-xl form-floating p-0 m-0 btn-group">
                    <input type="date" class="form-control" placeholder="Дата рег. с" name="" [(ngModel)]="patient.dtRegBeg">
                    <label for="floatingInput">Дата рег. с</label>
                </div>
                <div class="col-xl form-floating p-0 m-0 ps-1 btn-group">
                    <input type="date" class="form-control" placeholder="Дата рег. по" name=""[(ngModel)]="patient.dtRefEnd">
                    <label for="floatingInput">Дата рег. по</label>
                </div>
            </div>
        </div>
        <div class="row g-1">
            <div class="col-xl m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Индекс" name="" [(ngModel)]="patient.indexFact">
                    <label for="floatingInput">Индекс</label>
                </div>
            </div>
            <div class="col-xl m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Улица" name="" [(ngModel)]="patient.addrStreatFact">
                    <label for="floatingInput">Улица</label>
                </div>
            </div>
            <div class="col-xl-1 m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Дом" name="" [(ngModel)]="patient.addrHouseFact">
                    <label for="floatingInput">Дом</label>
                </div>
            </div>
            <div class="col-xl-1 m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Корпус" name="" [(ngModel)]="patient.addrExtFact">
                    <label for="floatingInput">Корпус</label>
                </div>
            </div>
            <div class="col-xl-1 m-1">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Квартира" name="" [(ngModel)]="patient.addrFlatFact">
                    <label for="floatingInput">Квартира</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-1 mb-2">
        <div class="col-xl m-1">
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Примечание" name="" [(ngModel)]="patient.comm">
                <label for="floatingInput">Примечание</label>
            </div>
        </div>
        <div class="col-xl-3 m-1">
            <div class="form-floating">
                <input type="text" list="listCountry" class="form-control" placeholder="Страна" name="" [(ngModel)]="patient.country">
                <label for="floatingInput">Страна</label>
            </div>
        </div>
    </div>
    <div class="row g-1 mb-1">
        <div class="col-xl-3 me-1">
            <div class="ms-1 mt-1" style="height: 115px; overflow: auto;">
                <app-patient-stage [(stages)]="patient.stages" (delStageId)="delStage($event)"></app-patient-stage>
            </div>
        </div>
        <div class="col-xl-5 me-1">
            <div class=" mt-1" style="height: 115px; overflow: auto;">
                <app-patient-second-desease [(secondDeseases)]="patient.secondDeseases" [(patientId)]="patient.patientId"></app-patient-second-desease>
            </div>
        </div>
    </div>
    <div class="row g-1 mb-2">
        <div class="col-xl m-1">
            <div class="form-floating">
                <input type="text" list="listPlaceCheck" class="form-control" placeholder="Место выявления" name="" [(ngModel)]="patient.placeCheck">
                <label for="floatingInput">Место выявления</label>
            </div>
            <div class="form-floating">
                <input type="text" list="listCodeMKB" class="form-control" placeholder="Кодировка МКБ 10" name="" [(ngModel)]="patient.codeMKB10">
                <label for="floatingInput">Кодировка МКБ 10</label>
            </div>
        </div>
        <div class="col-xl m-1">
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="№ карты" name="" [(ngModel)]="patient.cardNo">
                <label for="floatingInput">№ карты</label>
            </div>
            <div class="form-floating">
                <input type="text" list="listVulnerableGroup" class="form-control" placeholder="Кат. уязвимой группы" name="" [(ngModel)]="patient.vulnerableGroup">
                <label for="floatingInput">Кат. уязвимой группы</label>
            </div>
        </div>
        <div class="col-xl-1 m-1">
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Рост" name="" [(ngModel)]="patient.heightOld">
                <label for="floatingInput">Рост</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Вес" name="" [(ngModel)]="patient.weightOld">
                <label for="floatingInput">Вес</label>
            </div>
        </div>
    </div>
    <div class="row g-1 mb-2">
        <div class="col-xl-1 m-1">
            <div class="form-floating">
                <input type="text" list="listCheckCourseShort" class="form-control" placeholder="Обращения" name="" [(ngModel)]="patient.checkCourseShort">
                <label for="floatingInput">Причина Обращения</label>
            </div>
            <div class="form-floating">
                <input type="text" list="listInfectCourseShort" class="form-control" placeholder="Заражения" name="" [(ngModel)]="patient.infectCourseShort">
                <label for="floatingInput">Причина Заражения</label>
            </div>
            <div class="form-floating">
                <input type="text" list="listDieCourseShort" class="form-control" placeholder="смерти" name="" [(ngModel)]="patient.dieCourseShort">
                <label for="floatingInput">Причина Смерти</label>
            </div>
        </div>
        <div class="col-xl m-1">
            <div class="form-floating">
                <input type="text" list="listCheckCourseLong" class="form-control" placeholder="Причина обращения" name="" [(ngModel)]="patient.checkCourseLong">
                <label for="floatingInput">Причина обращения</label>
            </div>
            <div class="form-floating">
                <input type="text" list="listInfectCourseLong" class="form-control" placeholder="Причина заражения" name="" [(ngModel)]="patient.infectCourseLong">
                <label for="floatingInput">Причина заражения</label>
            </div>
            <div class="form-floating">
                <input type="text" list="listDieCourseLong" class="form-control" placeholder="Причина смерти" name="" [(ngModel)]="patient.dieCourseLong">
                <label for="floatingInput">Причина смерти</label>
            </div>
        </div>
    </div>
    <div class="row g-1 mb-2">
        <div class="col-xl-2 m-1">
            <div class="form-floating">
                <input type="date" class="form-control" placeholder="Передан в район" name="" [(ngModel)]="patient.transfAreaDate">
                <label for="floatingInput">Передан в район</label>
            </div>
            <div class="form-floating">
                <input type="date" class="form-control" placeholder="Передан в Суб. Фед." name="" [(ngModel)]="patient.transfFederDate">
                <label for="floatingInput">Передан в Суб. Фед.</label>
            </div>
            <div class="form-floating">
                <input type="date" class="form-control" placeholder="Передан в УФСИН" name="" [(ngModel)]="patient.ufsinDate">
                <label for="floatingInput">Передан в УФСИН</label>
            </div>
        </div>
        <div class="col-xl-2 m-1">
            <div class="form-floating">
                <input type="date" class="form-control" disabled placeholder="Дата внесения смерти" name="" [(ngModel)]="patient.dieInputDate">
                <label for="floatingInput">Дата внесения смерти</label>
            </div>
            <div class="form-floating">
                <input type="date" class="form-control" placeholder="Дата смерти" name="" [(ngModel)]="patient.dieDate">
                <label for="floatingInput">Дата смерти</label>
            </div>
            <div class="form-floating">
                <input type="date" class="form-control" placeholder="Дата смерти от СПИДа" name="" [(ngModel)]="patient.dieAidsDate">
                <label for="floatingInput">Дата смерти от СПИДа</label>
            </div>
        </div>
        <div class="col-xl-2 m-1">
            <div class="form-floating">
                <input type="text" list="listARVT" class="form-control" placeholder="АРВТ" name="" [(ngModel)]="patient.arvt">
                <label for="floatingInput">АРВТ</label>
            </div>
            <div class="form-floating">
                <input type="text" list="listInvalid" class="form-control" placeholder="Гр. инвалидности" name="" [(ngModel)]="patient.invalid">
                <label for="floatingInput">Гр. инвалидности</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Архив" name="" [(ngModel)]="patient.archive">
                <label for="floatingInput">Архив</label>
            </div>
        </div>
        <div class="col-xl-4 m-1">
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Кодовое слово" name="" [(ngModel)]="patient.codeWord">
                <label for="floatingInput">Кодовое слово</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="СНИЛС" name="" [(ngModel)]="patient.snils">
                <label for="floatingInput">СНИЛС</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Смена ФИО" name="" [(ngModel)]="patient.fioChange">
                <label for="floatingInput">Смена ФИО</label>
            </div>
        </div>
        <div class="col-xl-1 m-1">
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Зав. АПО" name="" [(ngModel)]="patient.headPhysician">
                <label for="floatingInput">Зав. АПО</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Внесен в ФР" name="" [(ngModel)]="patient.zamMedPart">
                <label for="floatingInput">Внесен в ФР</label>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>

<datalist id="listSex">
    <option  *ngFor="let sex of patient.listSex" [value]="sex">
        {{sex}}
    </option>
</datalist>
<datalist id="listRegOffReason">
    <option  *ngFor="let RegOffReason of patient.listRegOffReason" [value]="RegOffReason">
        {{RegOffReason}}
    </option>
</datalist>
<datalist id="listRegion">
    <option  *ngFor="let Region of patient.listRegion" [value]="Region">
        {{Region}}
    </option>
</datalist>
<datalist id="listCountry">
    <option  *ngFor="let Country of patient.listCountry" [value]="Country">
        {{Country}}
    </option>
</datalist>
<datalist id="listPlaceChecks">
    <option  *ngFor="let PlaceCheck of patient.listPlaceCheck" [value]="PlaceCheck">
        {{PlaceCheck}}
    </option>
</datalist>
<datalist id="listCodeMKB">
    <option  *ngFor="let CodeMKB of patient.listCodeMKB" [value]="CodeMKB">
        {{CodeMKB}}
    </option>
</datalist>
<datalist id="listCheckCourseShort">
    <option  *ngFor="let CheckCourseShort of patient.listCheckCourseShort" [value]="CheckCourseShort">
        {{CheckCourseShort}}
    </option>
</datalist>
<datalist id="listCheckCourseLong">
    <option  *ngFor="let CheckCourseLong of patient.listCheckCourseLong" [value]="CheckCourseLong">
        {{CheckCourseLong}}
    </option>
</datalist>
<datalist id="listInfectCourseShort">
    <option  *ngFor="let InfectCourseShort of patient.listInfectCourseShort" [value]="InfectCourseShort">
        {{InfectCourseShort}}
    </option>
</datalist>
<datalist id="listInfectCourseLong">
    <option  *ngFor="let InfectCourseLong of patient.listInfectCourseLong" [value]="InfectCourseLong">
        {{InfectCourseLong}}
    </option>
</datalist>
<datalist id="listDieCourseShort">
    <option  *ngFor="let DieCourseShort of patient.listDieCourseShort" [value]="DieCourseShort">
        {{DieCourseShort}}
    </option>
</datalist> 
<datalist id="listDieCourseLong">
    <option  *ngFor="let DieCourseLong of patient.listDieCourseLong" [value]="DieCourseLong">
        {{DieCourseLong}}
    </option>
</datalist> 
<datalist id="listVulnerableGroup">
    <option  *ngFor="let VulnerableGroup of patient.listVulnerableGroup" [value]="VulnerableGroup">
        {{VulnerableGroup}}
    </option>
</datalist> 
<datalist id="listARVT">
    <option  *ngFor="let arvt of patient.listARVT" [value]="arvt">
        {{arvt}}
    </option>
</datalist> 
<datalist id="listInvalid">
    <option  *ngFor="let Invalid of patient.listInvalid" [value]="Invalid">
        {{Invalid}}
    </option>
</datalist> 
<datalist id="listCheckPlace">
    <option  *ngFor="let CheckPlace of patient.listCheckPlace" [value]="CheckPlace">
        {{CheckPlace}}
    </option>
</datalist> 
<datalist id="listRes">
    <option  *ngFor="let Res of patient.listRes" [value]="Res">
        {{Res}}
    </option>
</datalist> 
<datalist id="listDesease">
    <option  *ngFor="let Desease of patient.listDesease" [value]="Desease">
        {{Desease}}
    </option>
</datalist> 
<datalist id="listStage">
    <option  *ngFor="let Stage of patient.listStage" [value]="Stage">
        {{Stage}}
    </option>
</datalist> 