<form class="pt-3" style="background-color: #ade8dd;" [formGroup]="searchModel.form" *ngIf="searchLists">
    <div class="row ms-1 mt-1">
        <div class="col-xl">
            <div class="row mb-1">
                <div class="col-1 btn-group mr-2 btn-group-sm">
                    <button class="w-70 btn btn-success btn-sm" (click)="markAll()">x</button>
                    <button class="w-70 btn btn-success btn-sm" (click)="dismarkAll()">o</button>
                </div>
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectInpDate">
                <span class="w-auto my-auto">Дата ввода с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateInpStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateInpEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectPatientId">
                <span class="w-auto my-auto">ИД пациента</span>
                <input type="text" class="form-control tbl w-auto" formControlName="patientId">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectFio">
                <span class="w-auto my-auto">Фамилия</span>
                <input type="text" class="form-control tbl w-auto" formControlName="familyName">
                <span class="w-auto my-auto">Имя</span>
                <input type="text" class="form-control tbl w-auto" formControlName="firstName">
                <span class="w-auto my-auto">Отчество</span>
                <input type="text" class="form-control tbl w-auto" formControlName="thirdName">
                <span class="w-auto my-auto">Смена ФИО</span>
                <input type="text" class="form-control tbl w-auto" formControlName="fioChange">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectSex">
                <span class="w-auto my-auto">Пол</span>
                <select class="form-control tbl" style="width: 100px;" formControlName="sex">
                    <option value=""></option>
                    <option *ngFor="let item of searchLists.listSex" [value]="item">{{ item }}</option>
                </select>
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectBirthDate">
                <span class="w-auto my-auto">Дата рождения с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="birthDateStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="birthDateEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectRegion">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(1)">Регион (рег.)</button>
                <select class="form-control tbl" style="width: 10%;" formControlName="regionPreset">
                    <option *ngFor="let item of searchLists.listRegionPreset" [value]="item">{{ item }}</option>
                </select>
                <input type="text" class="form-control tbl" style="width: 78.5%;" formControlName="regionReg">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectRegionFact">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(2)">Регион (факт.)</button>
                <select class="form-control tbl" style="width: 10%;" formControlName="factRegionPreset">
                    <option *ngFor="let item of searchLists.listRegionPreset" [value]="item">{{ item }}</option>
                </select>
                <input type="text" class="form-control tbl" style="width: 77.8%;" formControlName="regionFact">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectCountry">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(3)">Страна</button>
                <input type="text" class="form-control tbl" style="width: 91.8%;" formControlName="country">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectAddr">
                <span class="w-auto my-auto">Город</span>
                <input type="text" class="form-control tbl" style="width: 15%;" formControlName="city">
                <span class="w-auto my-auto">Насел.пункт</span>
                <input type="text" class="form-control tbl" style="width: 15%;" formControlName="location">
                <span class="w-auto my-auto">Индекс</span>
                <input type="text" class="form-control tbl" style="width: 10%;" formControlName="indx">
                <span class="w-auto my-auto">Улица</span>
                <input type="text" class="form-control tbl" style="width: 10%;" formControlName="street">
                <span class="w-auto my-auto">Дом</span>
                <input type="text" class="form-control tbl" style="width: 10%;" formControlName="home">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectRegOnDate">
                <span class="w-auto my-auto">Дата пост.на учёт с </span>
                <input type="date" class="form-control tbl w-auto" style="width: 10%;" formControlName="dateRegOnStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" style="width: 10%;" formControlName="dateRegOnEnd">
                <span class="w-auto my-auto">Дата снят.с учёта с </span>
                <input type="date" class="form-control tbl w-auto" style="width: 10%;" formControlName="dateUnRegStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" style="width: 10%;" formControlName="dateUnRegEnd">
                <select class="form-control tbl ms-1" style="width: 13.5%;" formControlName="unRegCourse">
                    <option value=""></option>
                    <option *ngFor="let item of searchLists.listRegOff" [value]="item">{{ item }}</option>
                </select>
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectBlotCheckPlace">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(4)">Место лаб.исследования</button>
                <input type="text" class="form-control tbl" style="width: 81.6%;" formControlName="blotCheckPlace">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectStage">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(5)">Стадия</button>
                <input type="text" class="form-control tbl" style="width: 91.8%;" formControlName="stage">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectDieDate">
                <span class="w-auto my-auto">Дата смерти с </span>
                <input type="date" class="form-control tbl w-auto" style="width: 10%;" formControlName="dateDieStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" style="width: 10%;" formControlName="dateDieEnd">
                <span class="w-auto my-auto">Дата смерти от СПИДа с </span>
                <input type="date" class="form-control tbl w-auto" style="width: 10%;" formControlName="dateDieAidsStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" style="width: 10%;" formControlName="dateDieAidsEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectCheckCourse">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(6)">Причина обращения</button>
                <input type="text" class="form-control tbl" style="width: 83.8%;" formControlName="checkCourse">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectDieCourse">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(7)">Причина смерти</button>
                <select class="form-control tbl" style="width: 10%;" formControlName="diePreset">
                    <option *ngFor="let item of searchLists.listDiePreset" [value]="item">{{ item }}</option>
                </select>
                <input type="text" class="form-control tbl" style="width: 76.3%;" formControlName="dieCourse">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectInfectCourse">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(8)">Фактор риска заражения</button>
                <input type="text" class="form-control tbl" style="width: 81.5%;" formControlName="infectCourse">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectShowIllnes">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(9)">Вторичное заболевание</button>
                <input type="text" class="form-control tbl" style="width: 50.5%;" formControlName="showIllnes">
                <span class="w-auto my-auto">с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateShowIllnesStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateShowIllnesEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectIb">
                <span class="w-auto my-auto">Результат референс</span>
                <select class="form-control tbl" style="width: 15%;" formControlName="ibRes">
                    <option value=""></option>
                    <option *ngFor="let item of searchLists.listResIb" [value]="item">{{ item }}</option>
                </select>
                <span class="w-auto my-auto">Дата с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateIbResStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateIbResEnd">
                <span class="w-auto my-auto">Номер</span>
                <input type="text" class="form-control tbl" style="width: 29.5%;" formControlName="ibNum">
            </div>
            <div class="row row-control mb-1">
                <span class="w-auto my-auto">Дата ввода с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateInpIbStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateInpIbEnd">
                <span class="w-auto my-auto">Выбор блотов</span>
                <select class="form-control tbl" style="width: 15%;" formControlName="ibSelect">
                    <option *ngFor="let item of searchLists.listSelectBlot" [value]="item">{{ item }}</option>
                </select>
                <span class="w-auto my-auto">Референс</span>
                <select class="form-control tbl" style="width: 15%;" formControlName="referenceMO">
                    <option value=""></option>
                    <option *ngFor="let item of searchLists.listReferenceMO" [value]="item">{{ item }}</option>
                </select>
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectHospCourse">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(10)">Причина госпитализации</button>
                <input type="text" class="form-control tbl" style="width: 81%;" formControlName="hospCourse">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectAge">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(11)">Группы возрастов</button>
                <input type="text" class="form-control tbl" style="width: 85.2%;" formControlName="age">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectCardNo">
                <span class="w-auto my-auto">№ карты</span>
                <input type="text" class="form-control tbl w-auto" formControlName="cardNo">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectArt">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(12)">АРТ</button>
                <input type="text" class="form-control tbl" style="width: 93.7%;" formControlName="art">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectMkb10">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(13)">МКБ10</button>
                <input type="text" class="form-control tbl" style="width: 92%;" formControlName="mkb10">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectArchive">
                <span class="w-auto my-auto">Архив</span>
                <select class="form-control tbl me-1" style="width: 15%;" formControlName="archiveYNA">
                    <option *ngFor="let item of searchLists.listYNA" [value]="item">{{ item }}</option>
                </select>
                <input type="text" class="form-control tbl w-auto" formControlName="archive">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectTransfArea">
                <span class="w-auto my-auto">Передан в район</span>
                <select class="form-control tbl me-1" style="width: 15%;" formControlName="transfAreaYNA">
                    <option *ngFor="let item of searchLists.listYNA" [value]="item">{{ item }}</option>
                </select>
                <span class="w-auto my-auto">Дата передачи с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateTransfAreaStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateTransfAreaEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectFr">
                <span class="w-auto my-auto">Внесено в ФР</span>
                <select class="form-control tbl me-1" style="width: 15%;" formControlName="frYNA">
                    <option *ngFor="let item of searchLists.listYNA" [value]="item">{{ item }}</option>
                </select>
                <span class="w-auto my-auto">Зав. АПО</span>
                <select class="form-control tbl me-1" style="width: 15%;" formControlName="zavApoYNA">
                    <option *ngFor="let item of searchLists.listYNA" [value]="item">{{ item }}</option>
                </select>
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectTransfFeder">
                <span class="w-auto my-auto">Передан в Суб.Фед.</span>
                <select class="form-control tbl me-1" style="width: 15%;" formControlName="transfFederYNA">
                    <option *ngFor="let item of searchLists.listYNA" [value]="item">{{ item }}</option>
                </select>
                <span class="w-auto my-auto">Дата передачи с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateTransfFederStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateTransfFederEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectUfsin">
                <span class="w-auto my-auto">На учете в УФСИН</span>
                <select class="form-control tbl me-1" style="width: 15%;" formControlName="ufsinYNA">
                    <option *ngFor="let item of searchLists.listYNA" [value]="item">{{ item }}</option>
                </select>
                <span class="w-auto my-auto">Дата постановки с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateUfsinStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateUfsinEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectAids12">
                <span class="w-auto my-auto">ВИЧ 1/2</span>
                <select class="form-control tbl" style="width: 10%;" formControlName="aids12">
                    <option value=""></option>
                    <option *ngFor="let item of searchLists.listAids12" [value]="item">{{ item }}</option>
                </select>
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectUnrz">
                <span class="w-auto my-auto">УНРЗ</span>
                <select class="form-control tbl me-1" style="width: 15%;" formControlName="unrzYNA">
                    <option *ngFor="let item of searchLists.listYNA" [value]="item">{{ item }}</option>
                </select>
                <input type="text" class="form-control tbl w-auto" formControlName="unrz">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectDieDiag">
                <span class="w-auto my-auto">Диагноз посмертно</span>
                <select class="form-control tbl me-1" style="width: 15%;" formControlName="dieDiagYNA">
                    <option *ngFor="let item of searchLists.listYNA" [value]="item">{{ item }}</option>
                </select>
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectChemprof">
                <span class="w-auto my-auto">Химиопроф.</span>
                <select class="form-control tbl" style="width: 10%;" formControlName="chemprof">
                    <option value=""></option>
                    <option *ngFor="let item of searchLists.listChemop" [value]="item">{{ item }}</option>
                </select>
                <span class="w-auto my-auto">Дата нач. с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateChemprofStartStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateChemprofStartEnd">
                <span class="w-auto my-auto">Дата оконч. с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateChemprofEndStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateChemprofEndEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectDateReg">
                <span class="w-auto my-auto">Даты регистрации c</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateRegStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateRegEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectPasSer">
                <span class="w-auto my-auto">Паспорт (серия)</span>
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectPasNum">
                <span class="w-auto my-auto">Паспорт (номер)</span>
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectPasWhom">
                <span class="w-auto my-auto">Выдан</span>
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectPasWhen">
                <span class="w-auto my-auto">Дата выдачи</span>
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectDeathTransferSub">
                <span class="w-auto my-auto">Смерть передана в суб.РФ</span>
                <select class="form-control tbl me-1" style="width: 15%;" formControlName="deathTransferSubYNA">
                    <option *ngFor="let item of searchLists.listYNA" [value]="item">{{ item }}</option>
                </select>
            </div>
        </div>
    </div>
    <br>
    <div class="rwo justify-content-center" *ngIf="shared.visibleData$| async">
        <span class="mx-3">Всего найдено: {{resCount$ | async}}</span>
    </div>
    <div style="width: 1290px;overflow-x: auto;"> 
        <app-display-result [(data)]="dataView" *ngIf="shared.visibleData$| async"></app-display-result>
    </div>
    <br>
    <div class="rwo justify-content-center" *ngIf="shared.visibleData$| async">
        <button type="button" class="btn btn-success me-1" (click)="firstPage()">
            <svg 
                width="16" height="16" fill="currentColor" 
                 viewBox="0 0 16 16">
                 <path d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                 <path d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
        </button>
        <button type="button" class="btn btn-success" (click)="prevPage()">
          <svg 
              width="16" height="16" fill="currentColor" 
               viewBox="0 0 16 16">
              <path 
                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z">
              </path>
          </svg>
        </button>
        <span class="mx-3">{{page}} из {{maxPage}}</span>
        <button type="button" class="btn btn-success" (click)="nextPage()">
            <svg 
                width="16" height="16" fill="currentColor" 
                 viewBox="0 0 16 16">
                <path 
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                </path>
            </svg>
        </button>
        <button type="button" class="btn btn-success ms-1" (click)="lastPage()">
            <svg 
                width="16" height="16" fill="currentColor" 
                 viewBox="0 0 16 16">
                 <path d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                 <path d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button>
    </div>
    <br>
</form>

<app-modal-window *ngIf="modal.isVisible$ | async">
    <app-select-list [(modalList)]="modalList" (list)="giveList($event)"></app-select-list>
</app-modal-window>

<app-modal-window *ngIf="modal.dieIsVisible$ | async">
    <app-select-die-list [(modalList)]="modalList" (list)="giveList($event)"></app-select-die-list>
</app-modal-window>

<app-modal-window *ngIf="modal.course2ColIsVisible$ | async">
    <app-select-list2-col [(modalList)]="modal2ColList" (list)="giveList($event)"></app-select-list2-col>
</app-modal-window>