<table class="table border" [formGroup]="formB">
    <thead style="position: sticky;top: 0; background: #ade8dd;">
      <tr>
        <th scope="col" style="width: 30px;">№</th>
        <th scope="col" style="width: 90px;">№ рез.</th>
        <th scope="col" style="width: 135px;">Дата</th>
        <th scope="col" style="width: 35px;">Рез.</th>
        <th scope="col">ЛПУ, направ. матер.</th>
        <th scope="col" style="width: 30px;">1й</th>
        <th scope="col" style="width: 47px;">Посл.</th>
        <th scope="col" style="width: 41px;">ИФА</th>
        <th scope="col" style="width: 135px;">Дата ввода</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container formArrayName="blots" *ngFor="let item of blots.controls; let i = index">
        <tr formGroupName="{{i}}">
          <td><input type="text" class="form-control tbl" formControlName="blotId"></td>
          <td><input type="text" class="form-control tbl" formControlName="blotNo"></td>
          <td><input type="date" class="form-control tbl" formControlName="blotDate"></td>
          <td><input type="text" list="listRes" class="form-control tbl" formControlName="blotRes"></td>
          <td><input type="text" list="listCheckPlace" class="form-control tbl" formControlName="checkPlace" title="{{pervValue[i].checkPlace}}"></td>
          <td><input type="checkbox" class="form-check-input mt-2" formControlName="first"></td>
          <td><input type="checkbox" class="form-check-input mt-2" formControlName="last"></td>
          <td><input type="checkbox" class="form-check-input mt-2" formControlName="ifa"></td>
          <td><input type="date" class="form-control tbl" formControlName="inputDate"></td>
          <td><button type="button" class="btn btn-outline-danger" (click)="delBlot(i)"></button></td>
        </tr>
      </ng-container>
      <tr>
        <td><input type="text" class="form-control tbl" formControlName="newBlotId"></td>
        <td><input type="text" class="form-control tbl" formControlName="newBlotNo"></td>
        <td><input type="date" class="form-control tbl" formControlName="newBlotDate"></td>
        <td><input type="text" list="listRes" class="form-control tbl" formControlName="newBlotRes"></td>
        <td><input type="text" list="listCheckPlace" class="form-control tbl" formControlName="newCheckPlace"></td>
        <td><input type="checkbox" class="form-check-input mt-2" formControlName="newFirst"></td>
        <td><input type="checkbox" class="form-check-input mt-2" formControlName="newLast"></td>
        <td><input type="checkbox" class="form-check-input mt-2" formControlName="newIfa"></td>
        <td><input type="date" disabled class="form-control tbl"></td>
        <td><button type="button" class="btn btn-outline-success" (click)="createBlot()"></button></td>
      </tr>
    </tbody>
  </table>