<table class="table border" [formGroup]="formS">
    <thead style="position: sticky; top: 0; background: #ade8dd;">
      <tr>
        <th scope="col" style="width: 100px;">Да/нет</th>
        <th scope="col" style="width: 300px;">Наименование ПАВ</th>
        <th scope="col" style="width: 300px;">Вид контакта</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <ng-container formArrayName="subs" *ngFor="let item of subs.controls; let i = index">
        <tr  formGroupName="{{i}}">
            <td><input type="text" list="listYn" class="form-control tbl" formControlName="ynName" title="{{pervValue[i].ynName}}"></td>
            <td><input type="text" class="form-control tbl" formControlName="drugName" title="{{pervValue[i].drugName}}"></td>
            <td><input type="text" list="listTypeContacts" class="form-control tbl" formControlName="contactTypeName" title="{{pervValue[i].contactTypeName}}"></td>
            <td><button type="button" class="btn btn-outline-danger" (click)="delChemsex(i)"></button></td>
        </tr>
        </ng-container>
        <tr>
            <td><input type="text" list="listYn"  class="form-control tbl" formControlName="newYnName"></td>
            <td><input type="text" class="form-control tbl" formControlName="newDrugName"></td>
            <td><input type="text" list="listTypeContacts" class="form-control tbl" formControlName="newContactTypeName"></td>
            <td><button type="button" class="btn btn-outline-success" (click)="createChemsex()"></button></td>
        </tr>
    </tbody>
</table>