<ng-container [formGroup]="patientForm" *ngIf="patientForm">
    <div class="navbar row bg-light container-fluid justify-content-between p-0 m-0">
        <div class="col-xl-1 p-0 ps-1 d-flex justify-content-start">
            <img class="ms-1" src="favicon.ico" width="35" height="35">
        </div>
        <div class="col-xl">
            <div class="row g-0">
                <div class="col-xl">
                    <input class="form-control m-0 ps-1 me-3" style="border-radius: 0px;" formControlName="patientFio">
                </div>
                <div class="col-xl-1">
                    <input class="form-control m-0 ps-1 me-3" style="border-radius: 0px;" formControlName="patientId">
                </div>
            </div>
        </div>
        <div class="col-xl-1 p-0 ps-1 d-flex justify-content-end navbar-expand-xxl">
            <button class="navbar-toggler collapsed m-1" type="button" (click)="openDropdown('Меню')">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <nav class="navbar navbar-expand-xxl bg-light p-0">
        <div class="container-fluid">
            <div class="navbar-collapse collapse" [class.show]="isVisibleMenu">
                <ul class="navbar-nav justify-content-between" style="width: 100%;">
                    <li class="nav-item">
                        <a class="nav-link" (click)="leaveComponent('/patient_card/main/')" [routerLink]="['/patient_card/main']" routerLinkActive="disabled">Общие данные</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="leaveComponent('/patient_card/epid/')" [routerLink]="['/patient_card/epid']" routerLinkActive="disabled">Эпид. данные</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="leaveComponent('/patient_card/treatment/')" [routerLink]="['/patient_card/treatment']" routerLinkActive="disabled">Лечение</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="leaveComponent('/patient_card/visit/')" [routerLink]="['/patient_card/visit']" routerLinkActive="disabled">Явка на приём</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" (mouseenter)="openDropdown('Диагностика')" (mouseleave)="openDropdown('Диагностика')">Диагностика</a>
                        <ul [class.visibleDropdown]="isVisibleDiagn" class="dropdown-menu" (mouseenter)="openDropdown('Диагностика')" (mouseleave)="openDropdown('Диагностика')">
                            <li><a class="dropdown-item" (click)="leaveComponent('/patient_card/diagnostics/')" [routerLink]="['/patient_card/diagnostics']" routerLinkActive="disabled">Диагностика общ.</a></li>
                            <li><a class="dropdown-item" (click)="leaveComponent('/patient_card/resistence/')" [routerLink]="['/patient_card/resistence']" routerLinkActive="disabled">Резистентность</a></li>
                            <li><a class="dropdown-item" (click)="leaveComponent('/patient_card/dconcomitant/')" [routerLink]="['/patient_card/dconcomitant']" routerLinkActive="disabled">Диагностика и сопут.</a></li>
                            <li><a class="dropdown-item" (click)="leaveComponent('/patient_card/dmanual/')" [routerLink]="['/patient_card/dmanual']" routerLinkActive="disabled">Диагн. руч.</a></li>
                            <li><a class="dropdown-item" (click)="leaveComponent('/patient_card/acl/')" [routerLink]="['/patient_card/acl']" routerLinkActive="disabled">ACL</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="leaveComponent('/patient_card/recipe/')" [routerLink]="['/patient_card/recipe']" routerLinkActive="disabled">Рецепты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="leaveComponent('/patient_card/preg/')" [routerLink]="['/patient_card/preg']" routerLinkActive="disabled">Беременные</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="leaveComponent('/patient_card/child/')" [routerLink]="['/patient_card/child']" routerLinkActive="disabled">Дети</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="leaveComponent('/patient_card/covid/')" [routerLink]="['/patient_card/covid']" routerLinkActive="disabled">COVID</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" (mouseenter)="openDropdown('Системные')" (mouseleave)="openDropdown('Системные')">Системные</a>
                        <ul [class.visibleDropdown]="isVisibleSystem" class="dropdown-menu" (mouseenter)="openDropdown('Системные')" (mouseleave)="openDropdown('Системные')">
                            <li><a class="dropdown-item" (click)="openReferalAnalysis()">Направление на анализы</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" (mouseenter)="openDropdown('Дополнительно')" (mouseleave)="openDropdown('Дополнительно')">Дополнительно</a>
                        <ul [class.visibleDropdown]="isVisibleAddit" class="dropdown-menu" (mouseenter)="openDropdown('Дополнительно')" (mouseleave)="openDropdown('Дополнительно')">
                            <li><a class="dropdown-item" (click)="leaveComponent('/patient_card/files/')" [routerLink]="['/patient_card/files/']" routerLinkActive="disabled">Сохранение файлов</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="leaveComponent('/main')">Гл. меню</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div *ngIf="patientForm.pending" class="alert alert-warning">Валидация...</div>
    <div *ngIf="patientForm.invalid" class="alert alert-danger">Ошибка...</div>
    <form class="pt-1" [formGroup]="patientForm" *ngIf="patientForm" style="background-color: #ade8dd;">
        <div class="row ms-1 mt-1">
            <div class="col-xl">
                <div class="row"><h6 class="text-start">Резистентность</h6></div>
                <div class="row" style="width: 1270px; overflow: auto;">
                    <app-resistence [(subArr)]="patientResistence"></app-resistence>
                </div>
            </div>
        </div>
        <br>
        <br>
        <button style="display: none;" type="button"></button>
    </form>
</ng-container>
<app-modal-window *ngIf="modal.referalAnalysisIsVisible$ | async">
    <app-modal-referal-analysis [(patientId)]="patient.patientId"></app-modal-referal-analysis>
</app-modal-window>