<div class="form-btn-menu m-auto mt-5 border">
    <div class="row g-0">
        <div class="col">
            <h1>
                <img class="mb-4" src="favicon.ico" width="48" height="48">
                HIV Info System
            </h1>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-7 p-2" style="margin-left: 1.5rem!important;">
            <div class="row">
                <h4>Настройка классификаторов</h4>
            </div>
            <div class="row pt-2 pb-2 border">
                <div class="col-6">
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Причина обращения</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Фактор риска зараж.</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Место лаб. исслед.</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">УИН</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Страны</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Регионы</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Пол</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Состав семьи</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Результат ИБ</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Стадия CDC</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">ВИЧ 1/2</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Кодировка МКБ-10</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Причина госпитализации</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Распол.отказн.ребёнка</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Профилактика ПХП</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Группа инвалидности</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Сопут. заболевание</button>
                    <!-- <button class="w-100 btn btn-lg btn-primary">Схема лечения</button>
                    <button class="w-100 btn btn-lg btn-primary">Препараты для схемы</button>
                    <button class="w-100 btn btn-lg btn-primary">Персонал</button>
                    <button class="w-100 btn btn-lg btn-primary">Имунный статус</button>
                    <button class="w-100 btn btn-lg btn-primary">Причина смены АРТ</button> -->
                </div>
                <div class="col-6">
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Стадии</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Индикаторная болезнь</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Причина смерти</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Медикаменты</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Выявл. у беременных</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Тип родов</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">??Месяца</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Группы возрастов</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Резистентность</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Статус льготника</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Принадлежность</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Источник фин.</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">АРВТ</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Специальность</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">ЛПУ</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Исход госпитализации</button>
                    <button [disabled]="!isKlassif" class="w-100 btn btn-lg btn-primary">Количество детей</button>
                    <!-- <button class="w-100 btn btn-lg btn-primary">Роддом</button>
                    <button class="w-100 btn btn-lg btn-primary">Стационар</button>
                    <button class="w-100 btn btn-lg btn-primary">Ряд терапии</button>
                    <button class="w-100 btn btn-lg btn-primary">Химиопрофилактика</button>
                    <button class="w-100 btn btn-lg btn-primary">исследование</button> -->
                </div>
            </div>
        </div>
        <div class="col-4 p-2 left-col-m">
            <div class="row">
                <h4>Отчеты</h4>
            </div>
            <div class="row border">
                <div class="col pt-2 pb-2">
                    <button class="w-70 btn btn-lg btn-primary btn-w" [routerLink]="['/search/fast']">Быстрый поиск</button>
                    <button class="w-70 btn btn-lg btn-primary btn-w" [routerLink]="['/search/main']">Общие данные</button>
                    <button class="w-70 btn btn-lg btn-primary btn-w" [routerLink]="['/search/preg']">Беременные</button>
                    <button class="w-70 btn btn-lg btn-primary btn-w" [routerLink]="['/search/child']">Дети</button>
                    <button class="w-70 btn btn-lg btn-primary btn-w">Лечение</button>
                    <button class="w-70 btn btn-lg btn-primary btn-w">Лечение(расш.)</button>
                    <button class="w-70 btn btn-lg btn-primary btn-w">Лабораторная диагностика</button>
                    <button class="w-70 btn btn-lg btn-primary btn-w">Вирусная нагрузка</button>
                    <button class="w-70 btn btn-lg btn-primary btn-w">Имунный статус</button>
                    <button class="w-70 btn btn-lg btn-primary btn-w">ACL</button>
                    <button class="w-70 btn btn-lg btn-primary btn-w">Явка на приём</button>
                    <button class="w-70 btn btn-lg btn-primary btn-w">Эпид. данные</button>
                    <button class="w-70 btn btn-lg btn-primary btn-w">Обеспечение стационаров</button>
                    <button class="w-70 btn btn-lg btn-primary btn-w">Иногородние</button>
                    <button class="w-70 btn btn-lg btn-primary btn-w">COVID</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button [disabled]="!isWriter" class="w-70 btn btn-lg btn-outline-primary btn-w">Ввод пациента</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-7 m-2">
            <button [disabled]="!isWriter" class="w-70 btn btn-lg btn-outline-primary  btn-w">Поиск дубликатов</button>
            <button [disabled]="!isAdmin" class="w-70 btn btn-lg btn-outline-primary btn-w">Импорт данных из ИС "Корвет"</button>
        </div>
        <div class="col-4 left-col-m" style="margin-top: 0.5rem;">
            <button class="w-70 btn btn-lg btn-outline-primary btn-w">Запись на прием</button>
            <button class="w-70 btn btn-lg btn-outline-primary btn-w">Сохранение талонов</button>
        </div>
    </div>
    <div class="row g-0 m-2">
        <div class="row g-0 text-left" (click)="exit()"><button class="btn btn-lg btn-outline-danger">Выход</button></div>
    </div>
</div>
<br>
<br>