<form class="pt-3" style="background-color: #ade8dd;" [formGroup]="searchForm" *ngIf="searchLists">
    <div class="row ms-1 mt-1">
        <div class="col-xl">
            <div class="row mb-1">
                <div class="col-1 btn-group mr-2 btn-group-sm">
                    <button class="w-70 btn btn-success btn-sm" (click)="markAll()">x</button>
                    <button class="w-70 btn btn-success btn-sm" (click)="dismarkAll()">o</button>
                </div>
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectInpDate">
                <span class="w-auto my-auto">Дата ввода с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateInpStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateInpEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectPatientId">
                <span class="w-auto my-auto">ИД пациента</span>
                <input type="text" class="form-control tbl w-auto" formControlName="patientId">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectFio">
                <span class="w-auto my-auto">Фамилия</span>
                <input type="text" class="form-control tbl w-auto" formControlName="familyName">
                <span class="w-auto my-auto">Имя</span>
                <input type="text" class="form-control tbl w-auto" formControlName="firstName">
                <span class="w-auto my-auto">Отчество</span>
                <input type="text" class="form-control tbl w-auto" formControlName="thirdName">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectSex">
                <span class="w-auto my-auto">Пол</span>
                <input type="text" class="form-control tbl w-auto" list="listSex" formControlName="sex">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectBirthDate">
                <span class="w-auto my-auto">Дата рождения с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="birthDateStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="birthDateEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectRegion">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(1)">Регион (рег.)</button>
                <input type="text" class="form-control tbl" style="width: 10%;" list="listRegionPreset" formControlName="regionPreset">
                <input type="text" class="form-control tbl" style="width: 78.5%;" formControlName="regionReg">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectRegionFact">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(2)">Регион (факт.)</button>
                <input type="text" class="form-control tbl" style="width: 10%;" list="listRegionPreset" formControlName="factRegionPreset">
                <input type="text" class="form-control tbl" style="width: 77.8%;" formControlName="regionFact">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectCountry">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(3)">Страна</button>
                <input type="text" class="form-control tbl" style="width: 91.8%;" formControlName="country">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectAddr">
                <span class="w-auto my-auto">Город</span>
                <input type="text" class="form-control tbl" style="width: 15%;" formControlName="city">
                <span class="w-auto my-auto">Насел.пункт</span>
                <input type="text" class="form-control tbl" style="width: 15%;" formControlName="location">
                <span class="w-auto my-auto">Индекс</span>
                <input type="text" class="form-control tbl" style="width: 10%;" formControlName="indx">
                <span class="w-auto my-auto">Улица</span>
                <input type="text" class="form-control tbl" style="width: 10%;" formControlName="street">
                <span class="w-auto my-auto">Дом</span>
                <input type="text" class="form-control tbl" style="width: 10%;" formControlName="home">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectRegOnDate">
                <span class="w-auto my-auto">Дата пост.на учёт с </span>
                <input type="date" class="form-control tbl w-auto" style="width: 10%;" formControlName="dateRegOnStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" style="width: 10%;" formControlName="dateRegOnEnd">
                <span class="w-auto my-auto">Дата снят.с учёта с </span>
                <input type="date" class="form-control tbl w-auto" style="width: 10%;" formControlName="dateUnRegStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" style="width: 10%;" formControlName="dateUnRegEnd">
                <input type="text" class="form-control tbl ms-1" style="width: 13.5%;" list="listRegOff" formControlName="unRegCourse">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectBlotCheckPlace">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(4)">Место лаб.исследования</button>
                <input type="text" class="form-control tbl" style="width: 81.6%;" formControlName="blotCheckPlace">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectStage">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(5)">Стадия</button>
                <input type="text" class="form-control tbl" style="width: 91.8%;" formControlName="stage">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectDieDate">
                <span class="w-auto my-auto">Дата смерти с </span>
                <input type="date" class="form-control tbl w-auto" style="width: 10%;" formControlName="dateDieStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" style="width: 10%;" formControlName="dateDieEnd">
                <span class="w-auto my-auto">Дата смерти от СПИДа с </span>
                <input type="date" class="form-control tbl w-auto" style="width: 10%;" formControlName="dateDieAidsStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" style="width: 10%;" formControlName="dateDieAidsEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectCheckCourse">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(6)">Причина обращения</button>
                <input type="text" class="form-control tbl" style="width: 83.8%;" formControlName="checkCourse">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectDieCourse">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(7)">Причина смерти</button>
                <input type="text" class="form-control tbl" style="width: 10%;" list="listDiePreset" formControlName="diePreset">
                <input type="text" class="form-control tbl" style="width: 76.3%;" formControlName="dieCourse">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectInfectCourse">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(8)">Фактор риска заражения</button>
                <input type="text" class="form-control tbl" style="width: 81.5%;" formControlName="infectCourse">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectShowIllnes">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(9)">Вторичное заболевание</button>
                <input type="text" class="form-control tbl" style="width: 50.5%;" formControlName="showIllnes">
                <span class="w-auto my-auto">с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateShowIllnesStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateShowIllnesEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectIb">
                <span class="w-auto my-auto">Результат референс</span>
                <input type="text" class="form-control tbl" style="width: 15%;" list="listResIb" formControlName="ibRes">
                <span class="w-auto my-auto">Дата с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateIbResStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateIbResEnd">
                <span class="w-auto my-auto">Номер</span>
                <input type="text" class="form-control tbl" style="width: 29.5%;" formControlName="ibNum">
            </div>
            <div class="row row-control mb-1">
                <span class="w-auto my-auto">Дата ввода с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateInpIbStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateInpIbEnd">
                <span class="w-auto my-auto">Выбор блотов</span>
                <input type="text" class="form-control tbl" style="width: 15%;" list="listSelectBlot" formControlName="ibSelect">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectHospCourse">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(10)">Причина госпитализации</button>
                <input type="text" class="form-control tbl" style="width: 81%;" formControlName="hospCourse">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectAge">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(11)">Группы возрастов</button>
                <input type="text" class="form-control tbl" style="width: 85.2%;" formControlName="age">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectCardNo">
                <span class="w-auto my-auto">№ карты</span>
                <input type="text" class="form-control tbl w-auto" formControlName="cardNo">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectArt">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(12)">АРТ</button>
                <input type="text" class="form-control tbl" style="width: 93.7%;" formControlName="art">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectMkb10">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(13)">МКБ10</button>
                <input type="text" class="form-control tbl" style="width: 92%;" formControlName="mkb10">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectTransfArea">
                <span class="w-auto my-auto">Передан в район</span>
                <input type="text" class="form-control tbl w-auto" list="listYNA" formControlName="transfAreaYNA">
                <span class="w-auto my-auto">Дата передачи с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateTransfAreaStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateTransfAreaEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectFr">
                <span class="w-auto my-auto">Внесено в ФР</span>
                <input type="text" class="form-control tbl w-auto" list="listYNA" formControlName="frYNA">
                <span class="w-auto my-auto">Зав. АПО</span>
                <input type="text" class="form-control tbl w-auto" list="listYNA" formControlName="zavApoYNA">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectTransfFeder">
                <span class="w-auto my-auto">Передан в Суб.Фед.</span>
                <input type="text" class="form-control tbl w-auto" list="listYNA" formControlName="transfFederYNA">
                <span class="w-auto my-auto">Дата передачи с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateTransfFederStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateTransfFederEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectUfsin">
                <span class="w-auto my-auto">На учете в УФСИН</span>
                <input type="text" class="form-control tbl w-auto" list="listYNA" formControlName="ufsinYNA">
                <span class="w-auto my-auto">Дата постановки с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateUfsinStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dateUfsinEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectAids12">
                <span class="w-auto my-auto">ВИЧ 1/2</span>
                <input type="text" class="form-control tbl w-auto" list="listAids12" formControlName="aids12">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectDtMailReg">
                <span class="w-auto my-auto">Дата письма в др.регион с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="dtMailRegStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="dtMailRegEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectEdu">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(14)">Образование</button>
                <input type="text" class="form-control tbl" style="width: 82%;" formControlName="education">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectFamilyStatus">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(15)">Семейное положение</button>
                <input type="text" class="form-control tbl" style="width: 82%;" formControlName="familyStatus">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectEmployment">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(16)">Занятость</button>
                <input type="text" class="form-control tbl" style="width: 82%;" formControlName="employment">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectTrans">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(17)">Трансгендерность</button>
                <input type="text" class="form-control tbl" style="width: 82%;" formControlName="trans">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectPlaceCheck">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(18)">Место выявления</button>
                <input type="text" class="form-control tbl" style="width: 82%;" formControlName="placeCheck">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectSituationDetect">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(19)">Обст. выявления</button>
                <input type="text" class="form-control tbl" style="width: 82%;" formControlName="situationDetect">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectTransmisionMech">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(20)">Вер. мех. передачи</button>
                <input type="text" class="form-control tbl" style="width: 82%;" formControlName="transmisionMech">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectVulnerableGroup">
                <button type="button" class="btn btn-success w-auto mx-1 tbl" (click)="modalOpen(21)">Кат. уязвимой группы</button>
                <input type="text" class="form-control tbl" style="width: 82%;" formControlName="vulnerableGroup">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectCovidVac">
                <span class="w-auto my-auto">Название вакцины</span>
                <input type="text" class="form-control tbl w-auto" list="" formControlName="vacName">
                <span class="w-auto my-auto">Дата вакц с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="vacDateStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="vacDateEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectCovid">
                <span class="w-auto my-auto">МКБ COVID</span>
                <input type="text" class="form-control tbl w-auto" list="listMkb10Covid" formControlName="covidMkb10">
                <span class="w-auto my-auto">Дата заболевания с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="covidDateStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="covidDateEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectChemsex">
                <span class="w-auto my-auto">Химсекс(Да/Нет)</span>
                <input type="text" class="form-control tbl w-auto" list="listYNA" formControlName="chemsexYNA">
                <span class="w-auto my-auto">Химсекс(Вид контакта)</span>
                <input type="text" class="form-control tbl w-auto" list="listContactType" formControlName="chemsexContactType">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectPavInj">
                <span class="w-auto my-auto">ПАВ инъекц(Да/Нет)</span>
                <input type="text" class="form-control tbl w-auto" list="listYNA" formControlName="pavInjYNA">
                <span class="w-auto my-auto">Период с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="pavInjDateStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="pavInjDateEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectPavNotInj">
                <span class="w-auto my-auto">ПАВ неинъекц(Да/Нет)</span>
                <input type="text" class="form-control tbl w-auto" list="listYNA" formControlName="pavNotInjYNA">
                <span class="w-auto my-auto">Период с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="pavNotInjDateStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="pavNotInjDateEnd">
            </div>
            <div class="row row-control mb-1">
                <input type="checkbox" class="my-auto row-checkbox" formControlName="selectTimeInfect">
                <span class="w-auto my-auto">Вероятное врямя инф. с </span>
                <input type="date" class="form-control tbl w-auto" formControlName="timeInfectDateStart">
                <span class="w-auto my-auto">по</span>
                <input type="date" class="form-control tbl w-auto" formControlName="timeInfectDateEnd">
            </div>
        </div>
    </div>
    <br>
    <div class="rwo justify-content-center" *ngIf="shared.visibleData$| async">
        <span class="mx-3">Всего найдено: {{resCount$ | async}}</span>
    </div>
    <div style="width: 1290px;overflow-x: auto;"> 
        <app-display-result [(data)]="dataView" *ngIf="shared.visibleData$| async"></app-display-result>
    </div>
    <br>
    <div class="rwo justify-content-center" *ngIf="shared.visibleData$| async">
        <button type="button" class="btn btn-success me-1" (click)="firstPage()">
            <svg 
                width="16" height="16" fill="currentColor" 
                 viewBox="0 0 16 16">
                 <path d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                 <path d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
        </button>
        <button type="button" class="btn btn-success" (click)="prevPage()">
          <svg 
              width="16" height="16" fill="currentColor" 
               viewBox="0 0 16 16">
              <path 
                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z">
              </path>
          </svg>
        </button>
        <span class="mx-3">{{page}} из {{maxPage}}</span>
        <button type="button" class="btn btn-success" (click)="nextPage()">
            <svg 
                width="16" height="16" fill="currentColor" 
                 viewBox="0 0 16 16">
                <path 
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                </path>
            </svg>
        </button>
        <button type="button" class="btn btn-success ms-1" (click)="lastPage()">
            <svg 
                width="16" height="16" fill="currentColor" 
                 viewBox="0 0 16 16">
                 <path d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                 <path d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button>
    </div>
    <br>
    
    <datalist id="listSex"><option *ngFor="let item of searchLists.listSex" [value]="item"></option></datalist>
    <datalist id="listRegOff"><option *ngFor="let item of searchLists.listRegOff" [value]="item"></option></datalist>
    <datalist id="listResIb"><option *ngFor="let item of searchLists.listResIb" [value]="item"></option></datalist>
    <datalist id="listSelectBlot"><option *ngFor="let item of searchLists.listSelectBlot" [value]="item"></option></datalist>
    <datalist id="listYNA"><option *ngFor="let item of searchLists.listYNA" [value]="item"></option></datalist>
    <datalist id="listChemop"><option *ngFor="let item of searchLists.listChemop" [value]="item"></option></datalist>
    <datalist id="listAids12"><option *ngFor="let item of searchLists.listAids12" [value]="item"></option></datalist>
    <datalist id="listDiePreset"><option *ngFor="let item of searchLists.listDiePreset" [value]="item"></option></datalist>
    <datalist id="listRegionPreset"><option *ngFor="let item of searchLists.listRegionPreset" [value]="item"></option></datalist>
    <datalist id="listMkb10Covid"><option *ngFor="let item of searchLists.listMkb10Covid" [value]="item"></option></datalist>
    <datalist id="listContactType"><option *ngFor="let item of searchLists.listContactType" [value]="item"></option></datalist>
</form>

<app-modal-window *ngIf="modal.isVisible$ | async">
    <app-select-list [(modalList)]="modalList" (list)="giveList($event)"></app-select-list>
</app-modal-window>

<app-modal-window *ngIf="modal.dieIsVisible$ | async">
    <app-select-die-list [(modalList)]="modalList" (list)="giveList($event)"></app-select-die-list>
</app-modal-window>

<app-modal-window *ngIf="modal.course2ColIsVisible$ | async">
    <app-select-list2-col [(modalList)]="modal2ColList" (list)="giveList($event)"></app-select-list2-col>
</app-modal-window>