<ng-container [formGroup]="patientForm" *ngIf="patientForm">
    <div *ngIf="patientForm.pending" class="alert alert-warning">Валидация...</div>
    <div *ngIf="patientForm.invalid || !ccIsValid || !rcIsValid || !ocIsValid || !piIsValid || !pniIsValid || !cvIsValid || !cIsValid" class="alert alert-danger">Ошибка...</div>
    <form class="pt-1" [formGroup]="patientForm" *ngIf="patientForm" style="background-color: #ade8dd;">
        <div class="row ms-1 mt-1">
            <div class="col-xl">
                <p class="text-start m-0">Контактные дети</p>
                <div class="row" style="height: 115px; overflow: auto;">
                    <app-patient-epid-child [(childArr)]="epidChild" [(maxId)]="maxIdEpidChil" [(patientId)]="patient.patientId" (isValid)="giveChForUpd($event)"></app-patient-epid-child>
                </div>
                <p class="text-start m-0">Вызов пациента</p>
                <div class="row" style="height: 115px; overflow: auto;">
                    <app-patient-call [(callArr)]="patientCall" [(maxId)]="maxIdCall" [(patientId)]="patient.patientId" (isValid)="givePcForUpd($event)"></app-patient-call>
                </div>
                <p class="text-start m-0">Постоянные партнеры</p>
                <div class="row" style="height: 115px; overflow: auto;">
                    <app-patient-contact [(contactArr)]="patientConstantContacts" [(patientId)]="patient.patientId" [(type)]="type1" (cIsValid)="giveCCForUpd($event)"></app-patient-contact>
                </div>
                <p class="text-start m-0">Случайные партнеры</p>
                <div class="row" style="height: 115px; overflow: auto;">
                    <app-patient-contact [(contactArr)]="patientRandomContacts" [(patientId)]="patient.patientId" [(type)]="type2" (cIsValid)="giveRCForUpd($event)"></app-patient-contact>
                </div>
                <p class="text-start m-0">Прочие партнеры</p>
                <div class="row" style="height: 115px; overflow: auto;">
                    <app-patient-contact [(contactArr)]="patientOtherContacts" [(patientId)]="patient.patientId" [(type)]="type3" (cIsValid)="giveOCForUpd($event)"></app-patient-contact>
                </div>
                <p class="text-start m-0">Химсекс</p>
                <div class="row" style="height: 115px; overflow: auto;">
                    <app-patient-chemsex [(subArr)]="patientChemsexes" [(patientId)]="patient.patientId" (isValid)="giveCForUpd($event)"></app-patient-chemsex>
                </div>
                <p class="text-start m-0">Употребление ПАВ инъекционно</p>
                <div class="row" style="height: 115px; overflow: auto;">
                    <app-patient-pav [(subArr)]="patientPavInjs" [(patientId)]="patient.patientId" (isValid)="givePIForUpd($event)"></app-patient-pav>
                </div>
                <p class="text-start m-0">Употребление ПАВ неинъекционно</p>
                <div class="row" style="height: 115px; overflow: auto;">
                    <app-patient-pav-not-inj [(subArr)]="patientPavNotInjs" [(patientId)]="patient.patientId" (isValid)="givePNIForUpd($event)"></app-patient-pav-not-inj>
                </div>
            </div>
            <div class="col-xl">
                <div class="row me-3">
                    <div class="col-xl form-floating p-0">
                        <input type="date" class="form-control" placeholder="Дата письма в др регион" formControlName="dtMailReg" title="{{pervValue.dtMailReg}}">
                        <label>Дата письма в регион</label>
                    </div>
                    <div class="col-xl form-floating p-0 ms-3">
                        <input type="text" class="form-control" placeholder="№ письма" formControlName="numMail" title="{{pervValue.numMail}}">
                        <label>№ письма</label>
                    </div>
                </div>
                <div class="row my-1 me-3">
                    <div class="col-xl form-floating p-0">
                        <input type="text" list="listEdu" class="form-control" placeholder="Образование" formControlName="eduName" title="{{pervValue.eduName}}">
                        <label>Образование</label>
                    </div>
                    <div class="col-xl form-floating p-0 ms-3">
                        <input type="text" list="listFamilyStatus" class="form-control" placeholder="Семейное положение" formControlName="familyStatusName" title="{{pervValue.familyStatusName}}">
                        <label>Семейное положение</label>
                    </div>
                </div>
                <div class="row my-1 me-3">
                    <div class="col-xl form-floating p-0">
                        <input type="text" list="listEmployment" class="form-control" placeholder="Занятость" formControlName="employmentName" title="{{pervValue.employmentName}}">
                        <label>Занятость</label>
                    </div>
                    <div class="col-xl form-floating p-0 ms-3">
                        <input type="text" list="listTrans" class="form-control" placeholder="Трансгендерность" formControlName="transName" title="{{pervValue.transName}}">
                        <label>Трансгендерность</label>
                    </div>
                </div>
                <div class="row my-1 me-3">
                    <div class="col-xl form-floating p-0">
                        <input type="text" list="listTransmitionMech" class="form-control" placeholder="Вероятный мех. передачи" formControlName="transmitionMechName" title="{{pervValue.transmitionMechName}}">
                        <label>Вероятный мех. передачи</label>
                    </div>
                    <div class="col-xl form-floating p-0 ms-3">
                        <input type="text" list="listSituationDetect" class="form-control" placeholder="Обстоятельства выявления" formControlName="situationDetectName" title="{{pervValue.situationDetectName}}">
                        <label>Обстоятельства выявления</label>
                    </div>
                </div>
                <div class="row my-1 me-3">
                    <div class="col-xl form-floating p-0">
                        <input type="date" class="form-control" placeholder="Вероятный срок инфицирования с" formControlName="epidTimeInfectStart">
                        <label>Вероятный срок инфицирования с</label>
                    </div>
                    <div class="col-xl form-floating p-0 ms-3">
                        <input type="date" class="form-control" placeholder="Вероятный срок инфицирования с" formControlName="epidTimeInfectEnd">
                        <label>Вероятный срок инфицирования по</label>
                    </div>
                </div>
                <div class="row my-1 me-3">
                    <div class="col-xl form-floating p-0">
                        <input type="text" list="listEpidDoc" class="form-control" placeholder="Врач проводивший расследование" formControlName="epidDocName" title="{{pervValue.epidDocName}}">
                        <label>Врач проводивший расследование</label>
                    </div>
                </div>
                <p class="text-start m-0">Примечание</p>
                <div class="row my-1 me-3">
                    <div class="col-xl p-0">
                        <textarea class="form-control" rows="2" formControlName="epidemCom"></textarea>
                    </div>
                </div>
                <p class="text-start m-0">Данные о вакцинации COVID-19</p>
                <div class="row my-1 me-3" style="height: 220px; overflow: auto;">
                    <app-patient-covid-vac-epid [(subArr)]="patientCovidVac" [(patientId)]="patient.patientId" (isValid)="giveCVForUpd($event)"></app-patient-covid-vac-epid>
                </div>
                <p class="text-start m-0">Данные о заболевании COVID-19</p>
                <div class="row my-1 me-3" style="height: 220px; overflow: auto;">
                    <app-patient-covid-epid [(subArr)]="patientCovid" [(patientId)]="patient.patientId" (isValid)="giveCForUpd($event)"></app-patient-covid-epid>
                </div>
            </div>
        </div>
        <br>
        <br>
        <button style="display: none;" type="button"></button>
    </form>

<datalist id="listCovidMKB"><option  *ngFor="let item of patient.listCovidMKB" [value]="item"></option></datalist>
<datalist id="listEdu"><option  *ngFor="let item of patient.listEdu" [value]="item"></option></datalist>
<datalist id="listEmployment"><option  *ngFor="let item of patient.listEmployment" [value]="item"></option></datalist>
<datalist id="listEpidDoc"><option  *ngFor="let item of patient.listEpidDoc" [value]="item"></option></datalist>
<datalist id="listFamilyStatus"><option  *ngFor="let item of patient.listFamilyStatus" [value]="item"></option></datalist>
<datalist id="listSituationDetect"><option  *ngFor="let item of patient.listSituationDetect" [value]="item"></option></datalist>
<datalist id="listTrans"><option  *ngFor="let item of patient.listTrans" [value]="item"></option></datalist>
<datalist id="listTransmitionMech"><option  *ngFor="let item of patient.listTransmitionMech" [value]="item"></option></datalist>
<datalist id="listTypeContacts"><option  *ngFor="let item of patient.listTypeContacts" [value]="item"></option></datalist>
<datalist id="listVac"><option  *ngFor="let item of patient.listVac" [value]="item"></option></datalist>
<datalist id="listYn"><option *ngFor="let item of patient.listYn" [value]="item"></option></datalist>
<datalist id="listSex"><option *ngFor="let item of patient.listSex" [value]="item"></option></datalist>
<datalist id="listCallStatus"><option *ngFor="let item of patient.listCallStatus" [value]="item"></option></datalist>

</ng-container>
<app-modal-window *ngIf="modal.referalAnalysisIsVisible$ | async">
    <app-modal-referal-analysis [(patientId)]="patient.patientId"></app-modal-referal-analysis>
</app-modal-window>