<table class="table border" [formGroup]="formS">
    <thead style="position: sticky; top: 0; background: #ade8dd;">
      <tr>
        <th scope="col" style="width: 60px;"></th>
        <th scope="col" style="width: 300px;"></th>
        <ng-container *ngFor="let item of subs; let i = index"><th scope="col">{{item.date}}</th></ng-container>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР001" disabled></td>
            <td><input type="text" class="form-control tbl" value="NRTTI -EPIVIR (lamivudini, 3TC)" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr001}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР005" disabled></td>
            <td><input type="text" class="form-control tbl" value="NRTTI -EMTRIVA (emtricitabine, FTC)" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr005}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР010" disabled></td>
            <td><input type="text" class="form-control tbl" value="NRTTI -RETROVIR (zidovudine, AZT)" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr010}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР015" disabled></td>
            <td><input type="text" class="form-control tbl" value="NRTTI -VIDEX (didanosine, ddl)" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr015}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР020" disabled></td>
            <td><input type="text" class="form-control tbl" value="NRTTI -ZERIT (stavudine, d4t)" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr020}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР025" disabled></td>
            <td><input type="text" class="form-control tbl" value="NRTTI -ZIAGEN (abacavir, ABC)" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr025}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР030" disabled></td>
            <td><input type="text" class="form-control tbl" value="NRTTI -VIREAD (tenofovir, TDF)" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr030}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР035" disabled></td>
            <td><input type="text" class="form-control tbl" value="NNRTTI -EDURANT (rilpivirine, RPV)" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr035}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР040" disabled></td>
            <td><input type="text" class="form-control tbl" value="NNRTTI -SUSTIVA (efavirenz, EFV)" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr040}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР045" disabled></td>
            <td><input type="text" class="form-control tbl" value="NNRTTI -VIRAMUNE (nevirapine, NVP)" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr045}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР050" disabled></td>
            <td><input type="text" class="form-control tbl" value="NNRTTI -INTELENCE (etravirine, ETR)" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr050}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР055" disabled></td>
            <td><input type="text" class="form-control tbl" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr055}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР060" disabled></td>
            <td><input type="text" class="form-control tbl" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr060}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР065" disabled></td>
            <td><input type="text" class="form-control tbl" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr065}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР070" disabled></td>
            <td><input type="text" class="form-control tbl" value="PI - FORTOVASE/INVIRASE" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr070}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР075" disabled></td>
            <td><input type="text" class="form-control tbl" value="PI - KALETRA" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr075}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР080" disabled></td>
            <td><input type="text" class="form-control tbl" value="PI - PREZISTA" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr080}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР085" disabled></td>
            <td><input type="text" class="form-control tbl" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr085}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР090" disabled></td>
            <td><input type="text" class="form-control tbl" value="PI - REYATAZ" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr090}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР095" disabled></td>
            <td><input type="text" class="form-control tbl" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr095}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР100" disabled></td>
            <td><input type="text" class="form-control tbl" value="NRTI" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr100}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР105" disabled></td>
            <td><input type="text" class="form-control tbl" value="NNRTI" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr105}}"></td></ng-container>
        </tr>
        <tr>
            <td><input type="text" class="form-control tbl" value="ЛР110" disabled></td>
            <td><input type="text" class="form-control tbl" value="PI - мутации" disabled></td>
            <ng-container *ngFor="let item of subs; let i = index"><td><input type="text" disabled class="form-control tbl" value="{{item.lr110}}"></td></ng-container>
        </tr>
    </tbody>
</table>